
.jw-icon {
    font-family: 'jw-icons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    font-variant: normal;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale
}

.jw-skin-fadhlan .jw-controls{
	visibility: .9em;
}

/* Use this class to set a global background color for all elemnts. */
.jw-skin-fadhlan .jw-background-color {
  background: #2b2e57;
}

/* This is the class that houses all controls. Use this to adjust the appearance of the entire controlbar. */
.jw-skin-fadhlan .jw-controlbar {
  border-top: #333 1px solid;
  height: 2.5em;
}

/* Vertically aligns the timeslider and icons in the center of the controlbar. */
.jw-skin-fadhlan .jw-group {
  vertical-align: middle;
}

/* Sets the style for the visual playlist. */

.jw-skin-fadhlan .jw-playlist {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Aligns the visual playlist above its icon. */

.jw-skin-fadhlan .jw-playlist-container {
  left: -43%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Sets the style for the visual playlist items. */
.jw-skin-fadhlan .jw-playlist-container .jw-option {
  border-bottom: 1px solid #444;
}

/* Allows you to adjust the color of the playlist item when hovering and has a different active style.*/

.jw-skin-fadhlan .jw-playlist-container .jw-option:hover,
.jw-skin-fadhlan .jw-playlist-container .jw-option.jw-active-option {
  background-color: black;
}

/* Changes the color of the label when hovering.*/

.jw-skin-fadhlan .jw-playlist-container .jw-option:hover .jw-label {
  color: #ff0046;
}

/* Aligns the playlist header icon with the items in the playlist. */
.jw-skin-fadhlan .jw-playlist-container .jw-icon-playlist {
  margin-left: 0;
}

/* Sets the color of the play icon of the currently playing playlist item.*/
.jw-skin-fadhlan .jw-playlist-container .jw-label .jw-icon-play {
  color: #ff0046;
}

/* Aligns the playlist play icon with the items in the playlist. */
.jw-skin-fadhlan .jw-playlist-container .jw-label .jw-icon-play:before {
    padding-left: 0
}

/* Sets the color of the playlist title */
.jw-skin-fadhlan .jw-tooltip-title {
    background-color: #000;
    color: #fff
}

/* Style for playlist item, current time, qualities, and caption text.*/
.jw-skin-fadhlan .jw-text {
  color: #ffffff;
}

/* Color for all buttons when they are inactive. This is over-ridden with the 
inactive configuration in the skin block.*/
.jw-skin-fadhlan .jw-button-color {
  color: #eee;
}

/* Color for all buttons for when they are hovered on. This is over-ridden with the 
active configuration in the skin block.*/

.jw-skin-fadhlan .jw-button-color:hover {
  color: #337ab7;
}

/* Color for when HD/CD icons are toggled on. */
.jw-skin-fadhlan .jw-toggle {
  color: #ff0046;
}

/* Color for when HD/CD icons are toggled off. */
.jw-skin-fadhlan .jw-toggle.jw-off {
  color: #ffffff;
}

/* Sets spacing between controlbar icons and text */
.jw-skin-fadhlan .jw-controlbar .jw-icon:before,
.jw-skin-fadhlan .jw-text-elapsed,
.jw-skin-fadhlan .jw-text-duration {
    padding: 0 .7em;
}

/* Removes icon padding to align the playlist header icon with the items in the playlist. */
.jw-skin-fadhlan .jw-controlbar .jw-icon-prev:before {
    padding-right: .25em;
}

/* Removes icon padding to align the playlist header icon with the items in the playlist. */
.jw-skin-fadhlan .jw-controlbar .jw-icon-playlist:before {
    padding: 0 .45em;
}

.jw-skin-fadhlan .jw-controlbar .jw-icon-next:before {
    padding-left: .25em
}

/* Sets the style for the prev and next icons. */
.jw-skin-fadhlan .jw-icon-prev,
.jw-skin-fadhlan .jw-icon-next {
    font-size: .7em
}

/* Adds the spacer style to between the play icon and the previous icon. */
.jw-skin-fadhlan .jw-icon-prev:before {
  border-left: 1px solid #666;
}

/* Adds the spacer style to between the next item and current time.  */
.jw-skin-fadhlan .jw-icon-next:before {
  border-right: 1px solid #666;
}

/* Color of the display icon */
.jw-skin-fadhlan .jw-icon-display {
  color: #fff;
}

/* Centers the display icon in it's container */
.jw-skin-fadhlan .jw-icon-display:before {
  padding-left: 0;
}

/* Turns the display icon container into a circle. */
.jw-skin-fadhlan .jw-display-icon-container {
    border-radius: 50%;
    border: 1px solid #333
}

/* Styles the timeslider rail */
.jw-skin-fadhlan .jw-rail {
  background-color: #384154;
  box-shadow: none;
}

/* Sets the color for the buffer / seek of the timeslider rail. */
.jw-skin-fadhlan .jw-buffer {
    background-color: #ccc
}

/* Sets the style for the elaspesd progress. */
.jw-skin-fadhlan .jw-progress {
    background: #009df6
}

/* Sets the width of the knob's container */
.jw-skin-fadhlan .jw-knob {
    width: .6em;
    height: .6em;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #000;
    border-radius: 1em
}

/* Sets the height for the horizontal slider container. */
.jw-skin-fadhlan .jw-slider-horizontal .jw-slider-container {
    height: .95em
}

/* Sets the height for the horizontal slider elements. */
.jw-skin-fadhlan .jw-slider-horizontal .jw-rail,
.jw-skin-fadhlan .jw-slider-horizontal .jw-buffer,
.jw-skin-fadhlan .jw-slider-horizontal .jw-progress {
    height: .2em;
    border-radius: 0
}

/* Centers the knob vertically. */
.jw-skin-fadhlan .jw-slider-horizontal .jw-knob {
    top: -0.19999999999999998em
}

/* Cetners the timeslider cuepoints vertically. */
.jw-skin-fadhlan .jw-slider-horizontal .jw-cue {
    top: -0.04999999999999999em;
    width: .3em;
    height: .3em;
    background-color: #fff;
    border-radius: 50%
}

/* Sets the width for the vertical slider elements. */
.jw-skin-fadhlan .jw-slider-vertical .jw-rail,
.jw-skin-fadhlan .jw-slider-vertical .jw-buffer,
.jw-skin-fadhlan .jw-slider-vertical .jw-progress {
    width: .2em
}

/* Sets the position of the volume slider container. */
.jw-skin-fadhlan .jw-volume-tip {
    width: 100%;
    left: -45%;
    padding-bottom: .7em
}

/* Sets the color of the duration text in the controlbar. */
.jw-skin-fadhlan .jw-text-duration {
    color: #FFFFFF
}

/* Adds a left border as a spacer between all controlbar icons. */
.jw-skin-fadhlan .jw-controlbar-right-group .jw-icon-tooltip:before,
.jw-skin-fadhlan .jw-controlbar-right-group .jw-icon-inline:before {
    border-left: 1px solid #666
}

/* Removes the border from the first icon after the time duration text. */
.jw-skin-fadhlan .jw-controlbar-right-group .jw-icon-inline:first-child:before {
    border: 0
}

/* This styles the dock icons into a circle. */
.jw-skin-fadhlan .jw-dock .jw-dock-button {
    border-radius: 50%;
    border: 1px solid #333
}

/* This styles tooltip for dock text background. */
.jw-skin-fadhlan .jw-dock .jw-overlay {
    border-radius: 2.5em
}

/*This sets the font color and background color for the active item in HD and CC menus. */
.jw-skin-fadhlan .jw-icon-tooltip .jw-active-option {
    background-color: #ff0046;
    color: #fff
}

/* Sets a min width for the volume container so that when it changes between mute and volume, the controlbar does not shift. */
.jw-skin-fadhlan .jw-icon-volume {
    min-width: 2.6em
}

/* Sets the style for the time tooltip, menu, volume. */
.jw-skin-fadhlan .jw-time-tip,
.jw-skin-fadhlan .jw-menu,
.jw-skin-fadhlan .jw-volume-tip,
.jw-skin-fadhlan .jw-skip {
    border: 1px solid #333
}

/* Sets the position for the time tooltip. */
.jw-skin-fadhlan .jw-time-tip {
    padding: .2em;
    bottom: 1.3em
}

/* Sets the position for the vertical volume slider. */
.jw-skin-fadhlan .jw-menu,
.jw-skin-fadhlan .jw-volume-tip {
    bottom: .24em
}

/* Sets the shape of the skip icon. */
.jw-skin-fadhlan .jw-skip {
    padding: .4em;
    border-radius: 1.75em
}

/* Sets the style for the skip text. */
.jw-skin-fadhlan .jw-skip .jw-text,
.jw-skin-fadhlan .jw-skip .jw-icon-inline {
    color: #fff;
    line-height: 1.75em
}
.jw-skin-fadhlan .jw-skip.jw-skippable:hover .jw-text,
.jw-skin-fadhlan .jw-skip.jw-skippable:hover .jw-icon-inline {
    color: #ff0046
}