@charset "utf-8";
/* CSS Document */

.overlay-karoke{
    height: 160px;
    background-color: rgba(50,120,190, 0.6);
    position: relative;
}
.user-tag-gj a {
    color: #fff;
    margin-right: 5px;
}
.user-tag-gj {
    display: table;
    text-align: center;
    margin: 15px auto 5px auto;
}
.warp-video-karoke {
    position: relative;
    /*padding-bottom: 56.25%;*/
    /*padding-top: 25px;*/
    /*height: 0;*/
    min-height: 240px;
    /*margin-bottom: 10px;*/
}
.videoframe {
    min-width: 480px;
    min-height: 360px;
}
.warp-video-karoke .videoframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.unvideoframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    min-height: 240px;
    background-color: #06244a;
}
.act-out-karoke a {
    display: inline-block;
    padding: 5px;
    font-size: 21px;
    color: #fff;
}
.act-out-karoke {
    position: absolute;
    right: 20px;
    top:5px;
}
.warp-trk-karoke {
    position: relative;
    bottom: 0;
    padding: 10px 0;
}
.warp-player-karoke {
    display: table;
    table-layout: fixed;
    border-spacing: 15px 0;
    width: 100%;
}
.warp-player-karoke > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 5px;
    height: 50px;
}
.btn-play-karoke{
    font-size: 30px;
    color: #dcdcdc;
    border: 3px solid #197cb2;
    border-radius: 3px;
    padding: 1px 10px;
    width:50px;
    background-color: #197cb2;
}
.col-btn-rec{color: #f92e44;}
div.warp-player-tittle-karoke {
    width: auto;
    padding: 0 15px;
    vertical-align: top;
    position: relative;
}
.warp-player-karoke a, .act-out-karoke a {
    cursor: pointer;
    display: inline-block;
}
.btn-expand-karoke {
    font-size: 28px;
    color: #fff;
}
a.btn-love-karoke:hover {color: red;}
a.btn-forward-karoke:hover {color:#23527c;}
.unvideoframe i {
    font-size: 80px;
    color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.warp-pl-karoke {
    padding: 5px 10px;
    background-color: #bcbcbc;
    margin: 15px 0;
}
.warp-pl-karoke:after {
    clear: both;
}
.warp-pl-karoke:after {
    display: table;
    content: " ";
}
.warp-pl-karoke:before {
    display: table;
    content: " ";
}
.warp-info-pl-karoke p {font-size: 21px;}
.warp-info-pl-karoke {
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid #7e7e7e;
}
.search-karoke {
    margin-bottom: 5px;
    border-bottom: 1px solid #7e7e7e;
}
.warp-pl-song-karoke {
    width: 100%;
    max-height: 640px;
    overflow-x: hidden;
    overflow-y: auto;
}
.pl-song-karoke {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
.warp-pl-song-karoke li {
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
}
.pl-song-karoke > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60px;
    height: 60px;
}
.pl-song-karoke .warp-thumb-album img{width:60px;}
.pl-song-karoke .warp-thumb-album {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60px;
    height: 60px;
}
.pl-karoke-tittle .title-band-player, .pl-karoke-tittle .title-song-player{color:#23527c; font-size:14px;}
div.warp-pl-karoke-tittle {
    width: auto;
    padding: 0 15px;
    vertical-align: top;
    position: relative;
}
.pl-time-karoke {font-size:14px;}
.btn-microphone{font-size:32px; color:#7e7e7e; cursor:pointer;}
button.btn-add-pl-karoke {
    color: #fff;
    background-color: #009df6;
    padding: 3px 6px;
    font-size: 12px;
}
.btn-add-pl-karoke i{margin-right:10px;}
div.not-pl-karoke {
    display: block;
    width: 100%;
    text-align:center;
}
.side-ads-box{padding:10px 0;}
.unvideoframe{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.warp-btn-play-karoke{width: 50px;}
.title-band-player-karoke, .title-song-player-karoke, .bar-duration-karoke{
    position: absolute;
    display: block !important;
    line-height: normal;
    color: #555;
    text-align: left;
    font-size: 12px;
}
.title-band-player-karoke{left: 0; top: 18px;}
.title-song-player-karoke{left: 0; top: 0;}
.bar-duration-karoke{right:5px; bottom:15px;}
.warp-karaoke {
    padding-bottom: 5px;
    background-color: #fff;
    margin-bottom:20px;
    float: left;
    width: 100%;
}
.warp-btn-karoke {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
span.ico-vid-k i {
    text-align: center;
    position: absolute;
    font-size: 21px;
    width: 14px;
    height: 22px;
    left: 50%;
    top: 50%;
    margin-top: -11px;
    margin-left: -7px;
}
span.ico-vid-k {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    position:relative;
    float:left;
}
span.txt-vid-k {
    display: inline-block;
    float: left;
    padding: 7px 7px;
    color:#fff;
}
a.btn-kar-vid, button.btn-kar-vid {
    display: inline-block;
    padding: 5px 8px;
    /*background-color: #337ab6;*/
    border-radius: 4px;
    margin:15px;
    cursor:pointer;
    border:1px solid transparent;
}
button.btn-kar-vid {float:left;}
a.btn-kar-vid:hover {background-color:#06244a;}
.btn-play-karoke:hover {
    color: #fff;
    background-color: #06244a;
    border-color: #06244a;
}
.warp-wave-karoke{padding:10px 15px;}
.ico-fin-vid-k {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 6px;
}
.ico-fin-vid-k i {
    text-align: center;
    position: absolute;
    font-size: 21px;
    width: 22px;
    height: 22px;
    left: 50%;
    top: 50%;
    margin-top: -11px;
    margin-left: -11px;
    color: #fff;
}
.warp-karaoke:before, .warp-karaoke:after{display:table; content:" ";}
.warp-karaoke:after{clear:both;}
.warp-btn-fin-karoke .btn-kar-vid:last-child {margin-right: 15px;}
.warp-btn-fin-karoke .btn-kar-vid {
    margin: 0;
    margin-right: 5px;
}
.warp-btn-fin-karoke {padding: 5px 0;}
.txt-karoke {
    font-weight: bold;
    color: #fff;
    line-height: 1.6;
}
.warp-dflt-voice {padding: 10px 15px;}
.warp-btn-karoke-bot {
    position: absolute;
    width: 100%;
    height: 24%;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.profil-pic-sound {
    /*position: absolute;*/
    width: 100%;
    height: 66%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.profil-pic-tittle {
    /*position: absolute;*/
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.img-profile-sound {
    max-height: 150px;
    max-width: 150px;
    height: 150px;
    width: 150px;
    position: relative;
    border: 1px solid #2e2b57;
}
.p-t {
    position: relative;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.warp-btn-rec {
    width: 105px;
    height: 150px;
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    float:left;
}
.btn-center-pos{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.btn-rec-karoke {
    font-size: 36px;
    border: 1px solid #245580;
    border-radius: 3px;
    padding: 1px 10px;
    width: 100px;
    height: 100px;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
}
.btn-rec-karoke:active{color:#fff;}
.btn-rec-karoke:hover{
    color:#fff;
    background-color: #265a88;
    background-position:0 -15px;
}
.warp-wave-cnv {
    width: calc(100% - 105px);
    display: inline-block;
    position: relative;
    height: 150px;
    background-color: #dcdcdc;
}
.warp-wave-cnv canvas {
    position: relative;
    height: 150px;
    width: 100%;
}
.warp-new-track-z {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 10px 0 10px;
}
.t-b-z, .t-b-or {display: inline-block;}
.t-b-or {margin: 0 15px;}
.c-ico-c{color:#fff;}
span.ico-btn-start-rec {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
.ico-text-rec{
    float: left;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 5px 0 0;
}
span.ico-text-rec i {
    margin-right: 5px;
    color: #f92e44;
}
.karoke-fin{background:transparent; padding:0;}
div.karoke-fin .nopadding button.btn-kar-vid{margin:0;}
.warp-ico-hs {
    width: 180px;
    height: 180px;
    background-color: #22a7f0;
    display:inline-block;
}
.warp-ico-hs i {
    font-size: 138px;
    color: #fff;
}
.warp-ico-hs i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.p-mar-tb{font-size:13px; margin:10px 0;}
.acc-req {
    padding: 0 10px 10px;
    text-align: center;
}
.acc-req span {margin-right: 5px;}
.warp-lirik-karoke {
    background-color: #fff;
    min-height: 450px;
    margin-top: 0px;
    padding: 5px;
    position: relative;
    max-height: 730px;
    overflow-y: auto;
}
.on-lirik {
    font-size: 14px;
    text-align: center;
}
.title-lirik {
    font-weight: bold;
    margin-bottom: 10px;
}
.event-karoke .tb-img-post-song {
    width: 200px;
    height: 200px;
}
.event-karoke .warp-stat-post-song {float: none;}
.name-group-post-event i {margin-right: 5px;}
.name-group-post-event {margin-bottom: 5px;}
.event-karoke .gj-post-song-title { margin-bottom: 5px;}
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .side-ads-box {
        padding:o;
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    
}

@media only screen and  (max-width: 479px){

}