@charset "utf-8";
/* CSS Document */

section.warp-player-music {
    min-height: 50px;
    width: 100%;
    background-color: #2b2e57;
}
.sticky-position-player{
	position:fixed;
    top: auto;
    z-index: 1000;
    position: fixed;
    bottom: 0px;
}
.warp-player-ctrl {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
.warp-player-ctrl > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 60px;
}
.warp-player-ctrl a {
    cursor: pointer;
    display: inline-block;
    padding: 10px 5px;
}
div.warp-player-tittle {
    width: auto;
    padding: 0 15px;
    vertical-align: top;
    position: relative;
}
.warp-thumb-album img {
    width: 80px;
}
.warp-player-ctrl .warp-thumb-album {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 80px;
    height: 80px;
}
.title-band-player {
    position: absolute;
    left: 25px;
    top: 0;
    right: 25px;
    display: block !important;
    line-height: 40px;
    color: #fff;
	text-align:left;
	font-size:12px;
}
.title-song-player {
    position: absolute;
    left: 25px;
    top: 0;
    right: 25px;
    display: block !important;
    line-height: 80px;
    color: #fff;
	text-align:left;
	font-size:12px;
}
.bar-duration {
    position: absolute;
    left: 25px;
    top: 0;
    right: 5px;
    display: block !important;
    line-height: 110px;
    color: #fff;
    text-align: right;
    font-size: 10px;
}
.seek-bar-player {
    position: absolute;
    background-color: #ccc;
    bottom: 5px;
	left:0;
}
.progres-bar-player {
    height: 5px;
    background-color: #009df6;
}
.btn-prev, .btn-next, .btn-random, .btn-repeat, .btn-list, .btn-list-popup {
    font-size: 21px;
    color: #eee;
}
.btn-play {
    font-size: 40px;
    color: #eee;
}

/*======================== POP UP =========================*/
.player-interface {
    position: relative;
}
.popup-playerlist.open{display:block; position:relative;}
.pl-img-popup {
    width: 45px;
    float: left;
	position:relative;
}
.pl-img-popup i {
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 28px;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;
    color: white;
    opacity: 0.5;
}

.warp-list-song-popup-player .item-popup-song {
    background-color: #fff;
    border-bottom: 1px solid #ababab;
    float: left;
    width: 100%;
}
.pl-tittle-name-popup {
    width: 180px;
    float: left;
    height: 45px;
    position: relative;
}

.pl-stat-popup {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 125px;
    height: 45px;
	float:right;
}
.pl-stat-like-popup, .pl-stat-forward-popup, .pl-stat-minus-popup {
    display: table-cell;
    font-size: 11px;
    vertical-align: middle;
}
.pl-stat-like-popup a, .pl-stat-forward-popup a, .pl-stat-minus-popup a {
    display: block;
    text-align: center;
}
.pl-stat-like-popup span, .pl-stat-forward-popup span {
    text-align: center;
    display: inline-block;
    width: 100%;
	font-size:9px;
}
.pl-tittle-name-popup div {
    font-size: 12px;
}
.pl-tittle-popup {
    padding: 5px 5px 0px;
    float: left;
    width: 100%;
}
.pl-name-popup {
    padding: 5px 5px 0px;
    float: left;
    width: 100%;
    line-height: 10px;
}
.pl-time-popup {
    display: table-cell;
    font-size: 11px;
    vertical-align: middle;
    text-align: left;
}
.pl-stat-popup a {
    color: #2b2b2b;
}
.pl-stat-popup a:hover {
    color: #009df6;
}
.pl-stat-popup a:hover > .fa-heart{color:red;}
.pl-stat-minus-popup a{font-size:12px; opacity:1; color:rgba(100,100,100,0.1);}
.pl-stat-minus-popup a:hover {
	color:#2b2b2b;
    opacity: 1;
}
.warp-list-song-popup-player ul, .rec-list-song-popup ul, .warp-rec-list-song-popup {
    min-height: 260px;
	max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.rec-list-song-popup li {
    float: left;
}
.title-playlist {
    display: table;
    height: 25px;
    width: 100%;
    background-color: #009df5;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}
.title-playlist a {
    display: block;
    float: right;
    color: #eee;
	font-size:12px;
}
.title-playlist a i {
    margin-right: 5px;
}
.warp-recomended-dl-thumb-popup {
    position: relative;
    /*width: 120px;*/
    margin:5px 0;
}
.warp-recomended-dl-thumb-popup:hover .warp-stat-most-dl .warp-stst-list-song-thumb {
    opacity: 1;
    transform: translateY(-75px);
    -webkit-transform: translateY(-75px);
}
a.btn-add-rec-single-list-song {
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
    cursor: pointer;
    right: 3px;
    top: 3px;
}
a.btn-add-rec-single-list-song i {
    font-size: 14px;
    text-align: center;
}
.warp-recomended-dl-thumb-popup:hover a.btn-add-rec-single-list-song {display:block !important;}
.warp-list-song-popup-player{
    width: 100%;
	float:left;
}
.rec-list-song-popup {
    width: 100%;
    float: left;
    text-align: center;
}
.tittle-left-top-round{border-top-left-radius:5px;}
.tittle-right-top-round{border-top-right-radius:5px;}

li .add-search-song {border-bottom:1px solid #ababab;}
.add-search-song {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
ul.stiped-popup-add > li {
    background-color: #fff;
}
ul.stiped-popup-add > li:nth-of-type(odd) {
    background-color: #eee;
}
.add-search-song > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 45px;
}
.add-search-song a {
    cursor: pointer;
    display: inline-block;
    padding:5px;
}
a.btn-play-add {
    font-size: 21px;
}
.pl-stat-like-add span, .pl-stat-forward-add span{
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 9px;
}
.pl-stat-like-add, .pl-stat-forward-add {
	font-size: 12px;
    vertical-align: middle;
}
.pl-stat-like-add a, .pl-stat-forward-add a {color:#2b2b2b;}
.pl-stat-like-add a:hover, .pl-stat-forward-add a:hover {color:#009df6;}
.pl-stat-like-add a:hover .fa-heart {color:red;}
@media (min-width: 992px){
.nopad-right-lg-md{padding-right:0;}
.add-search-song > div.tittle-song-add,  .add-search-song > div.name-band-add {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 280px;
	font-size:12px;
}
}
@media (max-width: 991px){
.tittle-right-top-round-sm{border-top-right-radius:5px;}
.no-tittle-right-top-round-sm{border-top-right-radius:0px;}
.rec-list-song-popup ul {
	min-height:60px;
    max-height: 140px;
}
.add-search-song > div.tittle-song-add,  .add-search-song > div.name-band-add {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 180px;
	font-size: 12px;
}
.title-playlist a.btn-add-song-list {margin-right: 40px;}
a.btn-close-popup-list-phone {
    position: absolute;
    right: 20px;
    top: 5px;
}
}

@media (min-width: 768px){
.popup-playerlist{
	width: 640px;
    display: none;
}
.popup-playerlist.open{
    display: block !important;
    position: absolute;
    top: -315px;
    right: 0;
}

.warp-list-song-popup-player{
    /*width: 360px;*/
	float:left;
}
.rec-list-song-popup {
    /*width: 280px;*/
    float: left;
    text-align: center;
}

}
@media (max-width: 767px){
.popup-playerlist{
	width:100%;
    display: none;
}
.popup-playerlist.open{
    display: block !important;
    position: absolute;
    top: -490px;
    right: 0;
}
.warp-list-song-popup-player, .rec-list-song-popup {
    width: 100%;
}
.rec-list-song-popup ul {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
a.btn-close-popup-list {
    position: absolute;
    top: -10px;
    right: 0;
}

}
/*======================= MISC PHONE ==============*/
@media (max-width: 480px){
	.pl-tittle-name-popup {
		width: 165px;
		float: left;
		height: 45px;
		position: relative;
	}
	.pl-stat-popup {
		display: table;
		table-layout: fixed;
		border-spacing: 0;
		width: 115px;
		height: 45px;
		float: right;
	}
	.add-search-song > div {
		width: 20px;
	}
	.add-search-song > div.tittle-song-add, .add-search-song > div.name-band-add {
		width: 90px;
	}
}