@charset "utf-8";
/* CSS Document */

.li-ac-src-track, .title-li-ac-src-track, .li-ac-src-track-2{
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
	font-size: 12px;
}
.li-ac-src-track > div, .title-li-ac-src-track > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}
.li-ac-src-track-2 > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 45px;
}
.li-ac-src-track-2{margin-bottom:1px;}
.btn-li-ac-src-track{width: 35px}
.tittle-li-ac-src-track{width: 170px}
.original-li-ac-src-track{width: 20px}
.author-li-ac-src-track{width: 120px}
.genre-li-ac-src-track{width: 100px}
.track-li-ac-src-track{width: 100px}
.time-li-ac-src-track{width: 60px}
.rating-li-ac-src-track{width: 95px}
.harga-li-ac-src-track{width: 90px}
.buy-li-ac-src-track{width: 30px}
.more-li-ac-src-track {width: 20px;}

.rating-li-ac-src-track .rating-container{font-size:14px; line-height:32px; display:inline-block;}
.buy-li-ac-src-track {font-size: 14px;}
.original-li-ac-src-track {color: #009df6;}
.rating-li-ac-src-track .rating-container .filled-stars{color:#009df6;}
.list-song-striped > .li-ac-src-track:nth-of-type(odd) {background-color: #f9f9f9;}
.li-ac-src-track, .li-ac-src-track-2 {
    background-color: #e7e7e7;
    border-bottom: 1px solid #ddd;
}
.warp-li-ac-src-track {
    padding: 10px;
    background: white;
	padding-top:0px;
}
.overflow-li-ac-src-track {
    overflow-y: auto;
    min-height: 450px;
    max-height: 680px;
    overflow-x: hidden;
}
.tittle-result-search {
    margin-bottom: 2px;
    border-bottom: 1px solid #aaa;
}
.title-li-ac-src-track {background-color: white;}
.result-key-src {
    padding: 15px;
    background-color: #009df6;
    text-align: center;
    font-size: 14px;
}
.result-key-src p {margin: 0;}
.result-key-src span {margin: 0 5px;}
.warp-list-song-similarity{width:100%; float:left; border-top: 1px solid #ababab;}
.warp-list-song-similarity ul{
    min-height: 230px;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
	border-right: 1px solid #ccc;
}
.warp-list-song-similarity .item-popup-song {
    background-color: #fff;
    border-bottom: 1px solid #ababab;
    float: left;
    width: 100%;
}
.warp-similarity-result {
    width: 100%;
    float: left;
    padding: 10px;
    background-color: white;
}
.warp-push-content-src-carousel {
    float: left;
    width: 100%;
    position: relative;
	padding:10px;
	background-color:white;
}
.table-tab-search-gj {
    background-color: white;
    border-left: 1px solid #b9e9fa;
    border-bottom: 1px solid #b9e9fa;
    border-right:1px solid #b9e9fa;
	padding: 25px 15px;
    float: left;
    width: 100%;
}
.nav-tab-search-gj > ul.nav-tabs > li > a {
    border-bottom: 1px solid #b9e9fa;
}
.nav-tab-search-gj > ul.nav-tabs > .active > a, .nav-tab-search-gj > ul.nav-tabs > .active > a:hover, .nav-tab-search-gj > ul.nav-tabs > .active > a:focus {
    border: 1px solid #b9e9fa;
	border-bottom-color: #fff;
}
.src-user-gj{margin-top:15px;}
span.warp-logo-search {
    display: block;
    padding: 5px;
    font-size: 28px;
    color: #aaa;
}
@media only screen and (min-width: 992px) and (max-width: 1199px){


}


@media only screen and (min-width: 768px) and (max-width: 991px){
.btn-li-ac-src-track{width: 25px}
.tittle-li-ac-src-track{width: 140px}
.original-li-ac-src-track{width: 15px}
.author-li-ac-src-track{width: 80px}
.genre-li-ac-src-track{width: 80px}
.track-li-ac-src-track{width: 60px}
.time-li-ac-src-track{width: 40px}
.rating-li-ac-src-track{width: 95px}
.harga-li-ac-src-track{width: 70px}
.buy-li-ac-src-track{width: 20px}
.more-li-ac-src-track {width: 20px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
.btn-li-ac-src-track{width: 25px}
.tittle-li-ac-src-track{width: 100px}
.original-li-ac-src-track{width: 15px}
.author-li-ac-src-track{width: 60px}
.genre-li-ac-src-track{width: 60px}
.track-li-ac-src-track{width: 40px}
.time-li-ac-src-track{width: 40px}
.rating-li-ac-src-track{width: 70px}
.harga-li-ac-src-track{width: 50px}
.buy-li-ac-src-track{width: 15px}
.more-li-ac-src-track {width: 20px;}
.rating-li-ac-src-track .rating-container{font-size:9px; line-height:32px; display:inline-block;}
.harga-li-ac-src-track span {font-size: 11px;}
}