.p-pic{
	width: 30%;
	height: auto;
	margin-left: 35%;
	margin-top: 20px;
	margin-bottom: 20px;

}
.p-name{
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
.p-name h1{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.p-desc{
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
}
.p-desc p{
	color: #fff;
	font-size: 12px;
	opacity: .68;
}
.p-nav > .nav > li{
	background-color: #259ad7;
    margin: 0;
    border-radius: 0;
  
}
.p-nav>.nav>li>a{
	color: #fff;
	padding-left: 30px;
	border-radius: 0;
}
.p-nav>.nav>li>a:hover{
	background-color: #5bbdec;
}
.p-nav>.nav>li:active>a{
	background-color: #5bbdec;
}
.p-nav>.nav-pills > li.active > a{
	background-color: #5bbdec;
}
.p-nav>.nav-pills > li.active:after {
    content: '';
    display: inline-block;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    position: absolute;
    top: 12px;
    right: 0px;
}
.p-nav>.nav>li.divider{
	border: 1px solid #3ea9e1;
}
.p-interest{
	position: relative;
	border-right: 1px solid #eee;
	padding-top:20px;
	padding-left:30px;
	padding-bottom: 40px;
	height: 350px;
}
.p-interest h1{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	margin:0;
	margin-bottom: 20px;
}
.p-interest a{
	text-transform: uppercase;
	color: #259ad7;
}
.p-interest a.edit-int{
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
	margin-right: 20px;
	font-size: 10px;
}
.tab-header{
	width: 100%;
	height: 174px;
	background-color: #fff;
	position: relative;
}
.header-line{
	width: 100%;
	height: 34px;
	background-color: #5bbdec;
}
.tab-title{
	position: absolute;
	right: 25px;
	bottom: 5px;
}
.tab-title h1{
	font-weight: 600;
	opacity: .8;
}
.general-form .form-group{
	margin-bottom: 5px;
}
.general-form>form>.form-group{
	position: relative;
}
.general-form>form>.form-group>i{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
	margin-right: 10px;
	color: #ccc;
}
.general-form>form>.form-group>.form-control{
	border-radius: 2px;
}
.general-form>form>.form-group>i.active{
	color: #5bbdec;
}
.general-form>form>.form-group>i.taken{
	color: #f50101;
}
.general-saldo{
	padding-top: 15px;
}
.general-saldo .panel-default,
.general-pembelian .panel-default,
.general-statistik .panel-default,
.security-box .panel-default{
	border-color: #5bbdec;
	border-radius: 2px;
}
.general-saldo .panel-default > .panel-heading,
.general-pembelian .panel-default > .panel-heading,
.general-statistik .panel-default > .panel-heading {
    background-image: none;
    background-color: #f4fbff;
}
.general-pembelian .panel-default > .panel-body{
	height: 188px;
	overflow-y: scroll;

}
.fname{
	width:49%; 
	display:inline-block;
}
.lname{
	width:49%; 
	display:inline-block;
}
/*::-webkit-scrollbar {
      width: 8px;
}
::-webkit-scrollbar-track {
      background-color: #fafafa;
}*/ /* the new scrollbar will have a flat appearance with the set background color */
 
/*::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1); 
}*/ /* this will style the thumb, ignoring the track */
 
/*::-webkit-scrollbar-button {
      background-color: #dfdfdf;
}*/ /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
/*::-webkit-scrollbar-corner {
      background-color: black;
}*/
.panel-grey{
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #ccc;
	background-color: #fafafa;
	border-radius: 2px;
	font-size: 11px;
}
.panel-grey>.panel-body>a.btn-primary,
.panel-grey button.btn-primary,
.general-save.btn-primary,
#editInterest .btn-primary{
	font-size: 10px;
	padding: 2px 5px;
	border-radius: 2px;
	background-image: none;
	background-color: #5bbdec;
	margin-top: 5px;
}
.panel-grey button.btn-default,
.panel-grey a.btn-default
{
	font-size: 10px;
	padding: 2px 5px;
	border-radius: 2px;
	background-image: none;
	background-color: #7f8c8d;
	border-color: #555;
	color: #fff;
	text-shadow:none;
	margin-top: 5px;
}
.security-box .panel-grey{
	border-radius: 0;
	border-color: #fafafa;
}
.security-box .panel-title{
	font-size: 12px;
}

.general-pembelian .table-striped>thead{
	background-color: #e2e4e5;
}
.stat-filter{
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 25px;
	margin-top: 5px; 	
}
.stat-filter .btn-default{
	background-image: none;
	font-size: 10px;
	background-color: #012548;
}
.stat-filter .btn-default:active,
.stat-filter .btn-default:focus{
	background-image: none;
	background-color: #012548;
}
.stat-filter .btn-default:active:hover, 
.stat-filter .btn-default.active:hover, 
.stat-filter .open > .dropdown-toggle.btn-default:hover, 
.stat-filter .btn-default:active:focus, 
.stat-filter .btn-default.active:focus, 
.stat-filter .open > .dropdown-toggle.btn-default:focus, 
.stat-filter .btn-default:active.focus, 
.stat-filter .btn-default.active.focus, 
.stat-filter .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #012548;
    /* border-color: #8c8c8c; */
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}
.stat-filter>.dropdown>ul.dropdown-menu{
	margin-left: -70px;
	text-align: right;
	font-size: 10px;

}
.security-box .panel-collapse{
	background-color: #d3d3d3;	
}
.security-box .panel-body{
	padding: 10px;
	padding-left: 20%;
}
.security-box .label-info{
	text-shadow:none;
	padding: 2px 10px;
	font-size: 10px;
}
.panel-grey .modal-header{
	    background-color: #5bbdec;
    color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #5bbdec;
}
.panel-grey .modal-body{
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #5bbdec;
}
.suggest-list{
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	margin: 0;
}
.suggest-item{
	width: 100%;
	background-color: #f9f9f9;
	margin: 0;
	padding: 10px;
}
.suggest-item.active,
.suggest-item:hover,
.suggest-item:focus{
	background-color: #5bbdec;
	color: #fff;
	cursor: pointer;
}
.suggest-item p{
	margin: 5px;
}
.suggest-item .col-md-10{
	padding-left: 0;
}
.inline{
	display: inline-block;
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.fname{
	width:49%; 
	display:inline-block;
}
	.lname{
	width:48%; 
	display:inline-block;
}

}
@media only screen and (min-width: 768px) and (max-width: 991px){
		.fname{
	width:49%; 
	display:inline-block;
}
	.lname{
	width:50%; 
	display:inline-block;
}
	.p-interest{

		height: 100px;
		border-bottom: 1px solid #ccc;
	}
	.tab-header {
	    height: 80px;
	}
	.tab-title{
		position: absolute;
		right: 25px;
		bottom: 5px;
		margin-bottom: -10px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
		.fname{
	width:49%; 
	display:inline-block;
}
	.lname{
	width:50%; 
	display:inline-block;
}
	.p-interest{

		height: 100px;
		border-bottom: 1px solid #ccc;
	}
	.tab-header {
	    height: 80px;
	}
	.tab-title{
		position: absolute;
		right: 25px;
		bottom: 5px;
		margin-bottom: -10px;
	}
}
@media only screen and (max-width: 479px){
		.fname{
	width:49%; 
	display:inline-block;
}
	.lname{
	width:48%; 
	display:inline-block;
}
	.p-interest{

		height: 100px;
		border-bottom: 1px solid #ccc;
	}
	.tab-header {
	    height: 80px;
	}
	.tab-title{
		position: absolute;
		right: 25px;
		bottom: 5px;
		margin-bottom: -10px;
	}
}