@charset "utf-8";
/* CSS Document */

/*==================================================================================================================================================
============================================================ BACKGROUND COLOR ======================================================================
/*================================================================================================================================================*/
.bgc-lig-blue{background-color:#22a7f0;}
.bgc-med-30-blue{background-color:#3498db;}
.bgc-med-60-blue{background-color:#197cb2;}
.bgc-dark-blue{background-color:#06244a;}
.bgc-btn{background-color: #337ab6;}
.c-f-btn, .c-f-btn:hover{color:#fff;}
.bgc-btn:hover, .bgc-btn-dec:hover{background-color: #06244a;}
.f-n{float:none !important;}
.bgc-btn-dec{background-color:#c12e2a;}
/*==================================================================================================================================================
============================================================ POSITION BUTTON ======================================================================
/*================================================================================================================================================*/
.warp-sub-comment button.btn.btn-comment-post.col-btn-red:last-child {
    margin-top: 3px;
}
.warp-sub-comment .warp-user-comment-post {
    margin: 5px;
}
.warp-btn-r-t{float:right; margin-top:-40px;}
.badge.up {
    position: relative;
    top: -10px;
    padding: 3px 6px;
    margin-left: -10px;
}
.fa-notif{font-size:14px;}
.badge-sm {
    font-size: 85%;
    padding: 2px 5px !important;
}
.bg-danger {
    background-color: #f05050;
    color: #ffffff;
}
.warp-no-notif, .warp-all-notif {
    padding: 5px;
    text-align: center;
    font-size: 12px;
}
.warp-no-notif{
    margin: 5px;
    border: 1px solid #22a7f0;
    border-radius: 4px;
    background-color: #dcdcdc;
}
.list-notif {
    display: block;
    padding: 8px;
    min-width: 360px;
    float: left;
    border-width: 1px 0;
    border-color: #f3f5f7;
    border-style:solid;
}
.notif-body {
    font-size: 12px;
    line-height: 1.3;
    width: calc(100% - 50px);
    float: left;
}
.notif-body small {
    margin-top: 6px;
    display: block;
}
.list-notif:hover {background-color: rgba(34,167,240,0.3);}
.list-notif-alt {    
    max-height: 420px;
    overflow-y: auto;
    float:left;
    width:100%;
}
.img-notif-pp {margin-right: 10px;}
.col-btn-red{background-color: #C43C35 !important; color:#fff;}
.col-btn-red:hover{background-color:#a7231c !important; color:#fff;}
.btn-line-stat{
    padding: 1px 6px;
    font-size: 12px;
    min-width: 66px;
}
.btn-in-stat{width:70px; color:#fff;}
.btn-in-stat button, .btn-in-stat input{float:left;}
.btn-line-stat.joined{background-color: #337ab7;}
.btn-in-stat .warp-btn-f-uf input {
    color: #fff;
    background-color: #337ab7;
    padding: 1px 6px;
    font-size: 12px;
}
.btn-in-stat .warp-btn-f-uf {
    float: left;
   margin:0;
}
.name-group-post {
    display: inline-block;
    width: calc(100% - 20px);
    line-height: 1.4;
}
.gj-text-desc p {
    font-size: 12px;
    line-height: 1.2;
    padding-right: 10px;
    margin: 5px 0;
}
.name-group-post i {margin-right: 5px;}
.tile-counters {
    line-height: 1;
    width: 100px;
    display: table;
    padding: 0 5px;
   float:left;
}
.tile-counter {
    color: #9b9b9b;
    font-size: 12px;
}
.stat-friend-side {
    float: right;
    width: 115px;
   padding-right: 5px;
}
.stat-friend-side i {margin-right: 3px;}
.stat-friend-side .warp-btn-f-uf .fa {
    top: 3px;
}
/*.stat-friend-side .btn-in-stat {
    float: right;
}
.stat-friend-side button {
    float: right !important;
}*/
/*==================================================================================================================================================
=================================================== ALL ABAOUT TIME LINE AND WALL ==================================================================
/*================================================================================================================================================*/
.hr-comment {
    margin: 2px 0 3px;;
    height: 1px;
   /* background: -webkit-radial-gradient(50% 50%, 45% 5px, #aaa 0%, #efefef 100%);*/
   background:#dcdcdc;
}
.sos-wrapper {    padding: 10px 5px;}
.panel.sos-wrapper, .warp-dettail.sos-wrapper {    padding: 15px;}
.sec-sosmed:before, .sec-sosmed:after{content:""; display:table;}
.sec-sosmed:after{clear:both;}
.warp-about-user {
    background-color: #06244a;
    width: 100%;
    float: left;
    min-height: 49px;
}
.bg-light {background-color: #3498db;}
.warp-dettail {
    width: 100%;
    display: table;
    height: 100%;
    position: relative;
}
.list-activity {
    float: left;
    width: 100%;
    min-height: 49px;
}
.header-user .nav-act {border: none;}
.header-user .nav-act > li a {
    border: none !important;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color:#fff;
}
.header-user .nav-act > li.active a, .header-user .nav-act > li a:hover {color: #555;}
.sec-sosmed {
    height: 520px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #cbcbcb;
    clear:both;
}
li.list-activity-user.list-group-item { border-radius: 0 !important;}
.top-pos{top:10px;}
.scrollable-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 469px;
    background: #fff;
    min-height: 469px;
}
.m-t-n-xxs {margin-top: -1px;}
li.list-activity-user.list-group-item {
    border-radius: 0 !important;
    border-left: none;
    border-right: none;
}
.list-activity-user p {margin: 10px 0;}
.warp-dettail .th-tag p {
    color: #00529B;
    font-size: 12px;
}
.m-b-xs {margin-bottom: 5px;}
.block {display: block;}
.warp-dettail.wrapper a {text-decoration: none;}
.warp-dettail.wrapper .h4 {margin: 0;}
.panel.wrapper {border-radius: 2px;}
.warp-about-user h4 {
    color: #fff;
    margin: 15px;
}
.bg-card-fl {background-position: 50%; background-size: cover;min-height: 118px;}
.warp-single-friend > .desc-myfriend > .disc-user-name a, .warp-single-friend > .desc-myfriend > .disc-user-username a {color: #fff;}
.warp-single-friend.bg-card-fl > .desc-myfriend > .disc-user-name a, .warp-single-friend.bg-card-fl > .desc-myfriend > .disc-user-username a {color: #fff;}
.disc-user-header-fl {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 10px 5px;
}
.tile-card-bg-fl{
    background-color: rgba(40,44,51,.5);
    transition: all .3s ease-out;
    border-radius: 4px;
}
.disc-header-bg-fl {
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
}
.disc-header-bg-fl, .tile-card-bg-fl {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
.warp-single-friend div img{z-index:10; position:relative;}
.desc-myfriend, .warp-single-friend{position:relative;}
.desc-single-most-dl .name-group {
    font-size: 16px;
    padding: 10px 5px;
    line-height: 1.5;
}
a.btn-detail-sosmed span {
    clear: both;
    font-size: 12px;
    display: block;
    line-height: 0.6;
}
a.btn-detail-sosmed {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    color: #dcdcdc;
    width: 50px;
    text-align: center;
}
a.btn-detail-sosmed:hover, a.btn-detail-sosmed:hover span {
    text-decoration:none;
    color:#fff;
}
.play-stuf{
    position: absolute;
    margin: 0;
    bottom: 40px;
    right: 10px;
}
.gj-song-cover-wall {
    width: 100%;    border-radius: 4px;
    background-color: #fdfdfd;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.gj-song-cover-wall .gj-song-btn {
    width: 96px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -48px;
    background: linear-gradient(transparent, rgba(0, 0, 0, .3));
}
.gj-song-cover-wall .gj-song-play {
    width: 24px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -12px;
}
.bio-wrapper{padding:0 15px 15px;}
.bio-wrapper > .bio-short {
    margin-bottom: 5px;
    font-size: 14px;
}
.bio-short span {
    margin-left: 5px;
    font-style: italic;
    color: #3498db;
}
.name-list-friend span {
    font-size: 12px;
    line-height: 16px;
}
.name-list-friend {
    position: absolute;
    background: linear-gradient(transparent, rgba(0, 0, 0, .7));
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 5px;
    right: 0;
    line-height: 12px;
}
.in-tl{
    position: relative;
    float: right;
    bottom: 0;
    right: 10px;
    width: 260px;
}
.gj-song-card.colab {height: 90px;}
.colab > .gj-song-cover {
    width: 85px;
    height: 85px;
}
.colab > .gj-song-desc, .colab .gj-song-story {width: calc(100% - 85px);}
.colab h1.gj-song-title {font-size: 12px;}
.colab h5.gj-song-username {margin: 4px 0 0;font-size: 10px;}
.colab p.gj-song-contributor {height: inherit;margin: 0;}
.colab .gj-played.play-stuf { bottom: 0;top: 0;}
.colab .warp-stat-card {
    padding: 0;
    bottom: 0;
    width: 210px;
}
/*.colab .ico-stat a, .colab .num-stat { padding: 3px;}*/
.colab .gj-song-play i { font-size: 2em;}
.colab .gj-song-play {
    width: 24px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -12px;
}
.colab .gj-song-btn {
    width: 96px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 2px;
    margin-left: -48px;
}
.title-evt {
    padding: 4px 5px 10px;
    text-align: center;
    background-color: #3498db;
}
.title-evt h4 {
    margin: 0;
    color: #fff;
    font-size: 16px;
}
.tb-img.evt-wall {width: 100%;}
.warp-entry-com.evt-wall {
    display: table;
    padding: 10px 0;
}
.evt-wall .tb-caption p {white-space: normal;}
.name-list-friend.text-center {padding: 2px;color: #dcdcdc;}
.l-hr{height: 1px; background-color: #b4e0fe; margin-bottom:15px;}
.menu-post-wall ul.dropdown-menu {min-width: 10px;}
ul.menu-post-wall li.submenu-music {
    float: left;
    margin: 0px;
    width:100%;
}
ul.menu-post-wall li.submenu-music a{width:100%;}
.hover-select {
    display: none;
    background-color: rgba(34,167,240,0.3);
    width: 100%;
    position: absolute;
    height: 93px;
    z-index: 10;
}
.selected {
    display: block;
    background-color: transparent;
    width: 100%;
    position: absolute;
    height: 93px;
    z-index: 10;
}
li.warp-post-song:hover .hover-select {display:block;}
.warp-list-song-post {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.warp-list-song-post ul {
    min-height: 230px;
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.warp-list-song-post li {
    position: relative;
    float: left;
    width: 100%;
}
.warp-selected-song-post {
    position: relative;
    float: left;
    width: 100%;
}
.comment-in-comment {
    margin-left: 50px;
    border-left: 2px solid #dcdcdc;
    width: calc(100% - 50px);
    float: left;
    position: relative;
}
.warp-sub-comment {
    float: left;
    width: 100%;
    position: relative;
}
.btn-expand-comment {
    font-size: 12px;
    padding: 0px 10px;
    display: inline-block;
}
.gj-btn-play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    text-align: center;
}
.num-comment span {
    margin-right: 3px;
}
.num-comment {
    float: right;
    font-size: 11px;
}
.tot-comment span {
    display: inline-block;
    font-size: 14px;
}
.tot-comment i {
    font-size: 21px;
    margin-right: 5px;
    color: #06244a;
}
.tot-comment {
    padding: 0 10px 5px;
    line-height: 1.2;
    color: #06244a;
}
+a.liked-click{color:#06244a !important;}
.ballon-notif {
    position: absolute;
    top: 105%;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.caret-notif-up{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -10px;
    right: 35px;
}
.ballon-notif i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #a9aaab;
    font-weight: normal;
}
.bg-song-l {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tb-img-post-song{
    background: #aeaeae;
    display: inline-block;
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-right: 15px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: relative;
/*Add a comment to this line*/
}
.tb-img-post-song img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.gj-post-song-title {padding: 0 10px;}
.gj-post-song-title, .gj-post-song-title a {
    font-size: 18px;
    font-weight: 600;
    color: #06244a;
    margin: 0;
   line-height:1.2;
}
.gj-post-song-author {
    font-size: 12px;
    color: #06244a;
    margin: 0;
   line-height:1.2;
   padding:0 10px;
}
.gj-post-song-genre {
    font-size: 12px;
    color: #06244a;
    margin: 0;
   line-height:1.2;
}
.gj-post-song-contribut span {
    margin-right: 3px;
}
.gj-post-song-contribut {
    padding: 5px 10px;
    font-size: 12px;
}
.gj-post-song-desc {padding:0 10px;}
.gj-post-song-desc p {
    word-wrap: break-word;
    text-overflow: ellipsis;
   text-align:justify;
}
.gj-post-song-desc p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.2;
}
.warp-info-post-song {
    min-height: 120px;
}
.warp-stat-post-song {
    width: 100%;
    float: left;
    margin: -5px 0 -10px;
}
.post-evt-cont {
    background: #f5f5f5;
    display: inline-block;
    float: left;
   width:100%;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
/*Add a comment to this line*/
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: relative;
   margin-bottom: 5px;
}
.gj-friend-side{
   background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    padding: 2px;
    height: 60px;
    width: 100%;
    position: relative;
}
.img-friend-side {
    padding: 3px 0 3px 5px;
    display: inline-block;
   width:100%;
}
.img-friend-side .tb-info, .img-friend-side .tb-info-group {
    padding: 0 5px;
    font-weight: 400;
   color: #06244a;
    width: calc(100% - 50px);
}
.img-friend-side .tb-info {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.img-friend-side .tb-info a{color: #06244a;}
.btn-friend-etc {
    display: block;
    font-size: 14px;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
a.btn-friend-etc i {
    padding: 6px;
    margin: 0;
    color: #fff;
}
.crcl-btn {
    text-align: center;
    float: right;
}
.tb-pp-group {
    display: inline-block;
    float: left;
    width: 80px;
    text-align: center;
}
.tb-pp img, .tb-pp-group img{border:1px solid #dcdcdc;}
.tb-pp-group img{width:80px; height:80px;}
.gj-group-side {
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    padding: 2px;
    height: 90px;
    width: 100%;
    position: relative;
}
.img-friend-side .tb-info-group {
    padding: 0 5px;
    font-weight: 400;
    color: #06244a;
    width: calc(100% - 80px);
}
.tb-info-group {
    display: inline-block;
    float: left;
}
.tb-desc-group-side {
    width: calc(100% - 80px);
    padding: 0 5px;
    display: inline-block;
    float: left;
    line-height: 12px;
    min-height: 33px;
    max-height: 33px;
    overflow: hidden;
    padding-top: 5px;
}
.tb-desc-group-side span{font-size:12px;}
.gj-group-side .stat-friend-side { padding-top: 3px;}
.sec-info-profil{
    display: table;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #cbcbcb;
    clear: both;
    width: 100%;
}
.info-profil {
    padding: 10px;
    background-color: #fff;
}
.info-profil .aside-card-body p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
    min-height: 30px;
}
.warp-about-user .profil-pic-gj{ margin: 10px auto 5px auto;}
.warp-about-user .username-gj{ margin: 5px 0;}
.warp-dettail.sos-wrapper .user-location{margin:0px auto;}
.warp-dettail.sos-wrapper .user-info-gj{margin: 0 auto 10px 0;}
.warp-dettail.sos-wrapper .panel.sos-wrapper{padding: 0 0 10px 0;margin-bottom: 5px;}
.warp-dettail.sos-wrapper .m-b-xs.h4.block{margin-bottom:0;}
.warp-dettail.sos-wrapper .aside-card-header{font-size: 12px;margin-bottom: 0px;}
.warp-dettail.sos-wrapper .aside-card-body p{
   font-size: 12px;
    max-height: 60px;
    margin-Bottom: 0px;
}
.my-stuff ul.gj-song-author {bottom: 30px;;}
.my-stuff h5.gj-song-username { margin: 2px 0;}
.my-stuff h1.gj-song-title {
    width: 100%;
   font-size: 13px;
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
}
.my-stuff h1.gj-song-title, .my-stuff h1.gj-song-title a{
   -webkit-backface-visibility: inherit;
    backface-visibility: inherit;
    overflow: hidden;
    text-overflow: inherit;
    white-space: inherit;
}
.my-stuff .gj-song-story {width: 100%;}


/*=========================================================================================================================================
=============================================                  LOADER                 ====================================================
=========================================================================================================================================*/
    .warp-c-go {
        position: relative;
        top: 50%;
        /* left: 50%; */
        /* width: 180px; */
        /* height: 180px; */
        /* margin-top: -90px; */
        /* margin-left: -90px; */
    }
    .logo-loader {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 48px;
        font-family: BEBAS;
    }
    .go-loader {
        width: 180px;
        height: 180px;
        display: inline-block;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        /* float: left; */
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -90px;
        margin-left: -90px;
    }
    .logo-loader img{width:72px;}
    
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color:rgba(255,255,255,0.9);
        background-image:url(../img/grid.png);
    }
    #loader-block {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #22a7f0;
    
        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader-block:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #197cb2;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader-block:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #06244a;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }


/*=========================================================================================================================================
=============================================                  GROUP DSB               ====================================================
=========================================================================================================================================*/
div#createGroup.modal .modal-sm {width: 480px;}
.warp-15{padding:15px;}
.warp-15:before, .warp-15:after{display:table; content:" ";}
.warp-15:after{clear:both;}
.warp-btn-friend-list button {margin-bottom: 5px; margin-right:5px;}
/*.warp-btn-friend-list button:last-child {margin: 0;}*/
/*=========================================================================================================================================
=============================================                  404 PAGE                ====================================================
=========================================================================================================================================*/
.warp-404 {display: inline-block;}
.h {
    font-size: 130px;
    text-shadow: 0 1px 0 #d9d9d9, 0 2px 0 #d0d0d0, 0 5px 10px rgba(0,0,0,0.125), 0 10px 20px rgba(0,0,0,0.2);
}
.warp-b-h {display: inline-block;}
div.warp-b-h a.b-h i.fa-home {
    margin-right: 15px;
    padding:5px 0px;
    float:left;
}
.b-h{
    display: block;
    padding: 20px;
    font-size: 21px;
    border-radius: 40px;
    margin: 10px;
    color: #eee;
}
.b-h:hover{
    text-decoration: none;
    background-color: #aaa;
}
/*==================================================================================================================================================
=================================================== ALL ABAOUT PRJECT ==================================================================
/*================================================================================================================================================*/
.sec-project{
    margin-bottom:20px;
    clear:both;
}
.sec-project:before, .sec-project:after{
    content:" ";
    display:table;
}
.sec-project:after{clear:both;}
.project-tab-gj{
    padding:0px;
    float:left;
    width:100%;
}
.nav-tab-gj.project-tab{
    padding: 5px 0;
    float: left;
    width: 100%;
}
.gj-project-thumb-evt, .gj-project-thumb-evt img {
    width: 80px;
    height: 80px;
}
.gj-project-thumb-evt img{border:1px solid #dcdcdc;}
.warp-gj-project-thumb-evt {
    position: absolute;
    right: 5px;
    bottom: 30px;
}
/*==================================================================================================================================================
=================================================== ALL ABAOUT EVENT ==================================================================
/*================================================================================================================================================*/
.bc-winner-evt{background-color:#109010 !important;}
.my-event.notif-evt > .gj-song-cover img{ width:65px; height:65px;}
.my-event.notif-evt > .gj-song-cover{ border-radius:50%;}
.my-event > .gj-song-cover {
    width: 65px;
    height: 65px;
    border:1px solid #dcdcdc;
}
.my-event .gj-song-play i {font-size: 2em;}
.my-event .gj-song-play {
    width: 24px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -12px;
}
.warp-pinned-evt-close {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
}
.gj-song-card.my-event { height: 70px;}
.my-event > .gj-song-desc {width: calc(100% - 65px); padding: 4px 6px;}
.my-event .gj-song-story { width: calc(100% - 50px); display: inline-block;}
.my-event.notif-evt .gj-song-story { width: 100%; display: block;}
.my-event h1.gj-song-title {font-size: 12px; margin-bottom:1px; line-height: 14px; max-height: 42px;}
.my-event h1.gj-song-title {
   -webkit-backface-visibility: inherit;
    backface-visibility: inherit ;
    overflow: hidden;
    text-overflow: inherit;
    white-space: inherit;
}

.my-event .gj-song-username {
    font-size: 12px;
    color: #197cb2;
    display: block;
    /* margin: 2px 0;*/
}
.notif-text-event {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1;
}
.gj-event-contributor {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    /*margin: 2px 0;*/
}
.my-event .gj-song-username a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-event .gj-song-username a {
    max-width: 205px;
    width: 205px;
    line-height: 16px;
}
.gj-event-contributor i {
    margin-right: 4px;
    color: #197cb2;
}
.col-lg-4 .my-event button.btn.btn-comment-post { margin-left: -15px;}
.warp-info-post-event {
    float: left;
    width: 100%;
    margin-bottom:5px;
}
.warp-title-side-right-wall {
    text-align: center;
    background-color: #3498db;
    color: #eee;
    position: relative;
}
.warp-title-side-right-wall h4 {
    margin: 0;
    font-size: 16px;
    padding: 15px;
    display: inline-block;
}
.warp-all-music-event {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 0px;
    padding:5px;
    position: relative;
    max-height: 720px;
    min-height: 720px;
    overflow-y: auto;
    margin-bottom:30px;
}
.notif-time-event {
    font-size: 12px;
    float: left;
    width: 100%;
    line-height: 1.2;
}
.warp-all-music-event .gj-song-card.my-event {height: 90px;}
.warp-all-music-event .my-event .gj-song-cover, .warp-all-music-event .my-event .gj-song-cover img{width:85px; height:85px;}
.warp-all-music-event .my-event > .gj-song-desc {width: calc(100% - 85px);}
.warp-all-music-event .my-event .gj-song-username a {
    width: calc(100% - 15px);
    max-width: inherit;
}
.gj-song-act-evt {
    display: inline-table;
    float: right;
    text-align: right;
}
.gj-song-act-evt i.btn {font-size: 16px}
.gj-song-act-evt i {
    color: #555;
    font-size: 12px;
    display: inline-block;
}
.warp-winner-event {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 0px;
    padding: 5px;
    position: relative;
   margin-bottom:30px;
}
.warp-winner-event .gj-song-title {
    -webkit-backface-visibility: inherit;
    backface-visibility: inherit;
    overflow: hidden;
    text-overflow: inherit;
    white-space: inherit;
}
.warp-winner-event .gj-song-title { max-height: 38px;}
.warp-winner-event .gj-song-username a {line-height: 16px;}
.warp-winner-event .gj-song-username {font-size: 13px;}
.warp-stat-card.winner-evt-bc {width: 270px;}
a.btn-emailto-winner {
    display: inline-block;
    cursor: pointer;
}
a.btn-emailto-winner i {font-size: 24px;}
.email-winner-evt {width: 35px;}
.my-event .sp-image {
    max-height: 315px;
    overflow: hidden;
}
.rand-desc-text{    
   display: inline-block;
    width: calc(100% - 20px);
    line-height: 1.4;
}
.warp-close-evt {
    font-size: 16px;
    padding: 14px;
    text-align: center;
    line-height: 1.2;
    background-color: #f26c4f;
    color: #fff;
}
.warp-running-evt {
    font-size: 16px;
    padding: 14px;
    text-align: center;
    line-height: 1.2;
    background-color: #228B22;
    color: #fff;
}
/*==================================================================================================================================================
+=================================================== ALL ABAOUT INVITATION ==================================================================
+/*================================================================================================================================================*/
.warp-all-music-market.invit-ts .col-md-6.gj-song-wrap {
    padding-left: 3px;
    padding-right: 3px;
}
.warp-all-music-market.invit-ts .gj-song-story {width: 100%;}
.invit-ts .gj-text-desc p{max-height:70px; overflow:hidden;}
/*==================================================================================================================================================
=================================================== ALL ABAOUT MESSAGE ==================================================================
/*================================================================================================================================================*/
.containerbox-msg{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1170px;
}
.containerbox-msg:before, .containerbox-msg:after{display:table; content:" ";}
.containerbox-msg:after{clear:both;}
.warp-all-msg {
    position: fixed;
    width: 1140px;
    height: 100%;
    margin: 20px auto 0;
    background-color: #fff;
}
.flex-msg{
        display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
}
.warp-side-left-wall-msg {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
}
.warp-item-side-left-msg {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.vbox{
    position: absolute;
    overflow-y: auto;
    height: calc(100% - 164px);
}
.vbox-msg {
    position: absolute;
    overflow-y: auto;
    height: calc(100% - 215px);
    background-color: #fff;
    width:100%;
}
.warp-vbox{
    position: fixed;
    height: 100%;
    z-index:9;
}
.warp-src-friend-msg {
    padding: 0 10px 10px;
    position: relative;
    border-bottom: 1px solid #cdcdcd;
}
.input-src-friend-msg{
    padding: 6px 40px 6px 12px;
    width: 100%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    color: #000;
}
.btn-src-friend-msg {
    border: 0;
    background: none;
    padding: 2px 10px 2px 2px;
    position: absolute;
    right: 11px;
    top: 2px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ccc;
    font-size: 18px;
    z-index: 1000;
}
a.msg-friend.active .gj-friend-side { background-color: #c7e5f5;}
a.msg-friend {display: block;}
a.msg-friend:hover .gj-friend-side {background-color: #c7e5f5;}
.gj-friend-side .thumbnail-msg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thumbnail-msg {
    padding: 5px 5px 0;
    font-weight: normal;
    color: #ababab;
    width: calc(100% - 90px);
}
.stat-friend-msg {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 85%;
    letter-spacing:1px;
    font-size: 12px;
}
.warp-post-msg {
    padding: 15px;
    background: #cdcdcd;
    padding-bottom: 0px;
    position: absolute;
    width: 100%;
    bottom: 60px;
}
.tb-form-input-2 .text-msg {
    font-size: 12px;
    min-height: 80px;
    word-break: break-word;
}
.tb-friend-msg {
    padding: 10px 10px;
    float: left;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
}
.tb-text-friend-msg {
    float: left;
    display: inline-block;
    position: relative;
    width: calc(100% - 50px);
}
.tb-friend-msg .tb-info {padding: 3px 0;}
.tb-friend-msg .tb-caption {
    width: 100%;
    padding: 0px;
    display: inline-block;
    float: left;
}
.tb-friend-msg .tb-pp img {
    width: 40px;
    height: 40px;
}
.b-l{border-left:1px solid #cdcdcd;}
.warp-vbox.lg-4{width:380px;}
.vbox.lg-4{width:100%;}
.warp-vbox.lg-8{width:760px;}
.vbox.lg-8{width:100%px;}
a.btn-back-side-right-msg {
    display: block;
    font-size: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    color: white;
}
.warp-btn-back-side-right-msg{
    text-align: center;
    background-color: #3498db;
    margin-bottom: 0px;
    color: #eee;
    position: relative;
}
.non-msg{
    position: fixed;
    width: 760px;
    height: 100%;
}

.msg-content{display:none;}

@media only screen and (min-width: 1199px) and (max-width: 1440px){
    .col-lg-4 .my-event button.btn.btn-comment-post { margin-left: -15px; padding:6px;}
}
/*===============================================================================================================================================================
========================== QUERY MD DESKTOP ===========================================================
=====================================================================================*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
   .containerbox-msg{max-width: inherit; width: 1000px;}
   .warp-all-msg{width:970px;}
   .warp-vbox.lg-4 {width: 320px;}
   .warp-vbox.lg-8, .non-msg {width: 650px;}
 }
/*===============================================================================================================================================================
========================== QUERY SM TABLET ===========================================================
=====================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .warp-all-msg .col-lg-4.nopad-right{padding-right:15px;}
    .warp-all-msg .col-lg-8.nopad-left{padding-left:15px;}
    .warp-all-msg {width:calc(100% - 30px); margin-top:40px;}
    .warp-msg-content.normal{position:absolute;}
    .warp-vbox.lg-4, .warp-vbox.lg-8 {width: calc(100% - 30px);}
    .vbox {height: calc(100% - 265px);}
    .vbox-msg { height: calc(100% - 355px);}
    .warp-post-msg{bottom:160px;}
    .b-l{border:none;}
}
/*===============================================================================================================================================================
========================== QUERY XS PHONE ===========================================================
=====================================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px){
    div#createGroup.modal .modal-dialog {width: 480px;}
    .warp-all-msg .col-lg-4.nopad-right{padding-right:15px;}
    .warp-all-msg .col-lg-8.nopad-left{padding-left:15px;}
    .warp-all-msg {width:calc(100% - 30px); margin-top:20px;}
    .warp-msg-content.normal{position:absolute;}
    .warp-vbox.lg-4, .warp-vbox.lg-8 {width: calc(100% - 30px);}
    .vbox {height: calc(100% - 165px);}
    .vbox-msg { height: calc(100% - 255px);}
    .warp-post-msg{bottom:60px;}
    .b-l{border:none;}
}
/*===============================================================================================================================================================
========================== QUERY XXS PHONE ===========================================================
=====================================================================================*/
@media only screen and  (max-width: 479px){
    .msg-container{padding:0;}
    .warp-all-msg {width:calc(100% - 30px); margin-top:20px;}
    .warp-msg-content.normal{position:absolute;}
    .warp-vbox.lg-4, .warp-vbox.lg-8 {width: calc(100% - 30px);}
    .vbox {height: calc(100% - 165px);}
    .vbox-msg { height: calc(100% - 255px);}
    .warp-post-msg{bottom:60px;}
    .b-l{border:none;}
}