@charset "utf-8";
/* CSS Document */

/*==================================================================================================================================================
============================================================ BACKGROUND COLOR ======================================================================
/*================================================================================================================================================*/
.std-wrapper{padding:20px;}
.hr-section-header {
    position: absolute;
    height: 8px;
    width: 100%;
    bottom: 0;
    left:0;
}
.spot-header-std {
    position: relative;
    text-align: center;
    color: #fff;
    height: 60px;
}
.spot-header-ivt {
    position: relative;
    text-align: center;
    color: #fff;
}
.spot-header-ivt h3 {margin:0;}
.btn-invit-sos {
    display: block;
    padding: 20px;
    font-size: 16px;
    border-radius: 40px;
    margin: 10px;
    color: #eee;
}
.btn-invit-sos i{
    float: left;
    padding: 5px 0 5px;
    font-size: 24px;
    line-height: 0.6;
}
.invit-email{
    font-size: 16px;
    height: 44px;
    font-style: italic;
}
.btn-invit-email {
    padding: 10px 25px;
    background-color: #337ab8;
    color: #fff;
    font-size: 16px;
}
.item-slide-studio {
    height: 600px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.item-slide-studio img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.single-full-h-carousel {position: relative;}
.warp-layer-h {
    position: absolute;
    height: 50%;
    z-index: 9;
    width: 720px;
    left: 50%;
    margin-left: -360px;
    text-align: center;
    background-color: rgba(10,10,10,0.5);
}
.warp-layer-h:last-child {top: 50%;}
.warp-layer-h, .warp-layer-f {top: 0;}
.warp-layer-f {
    position: absolute;
    height: 100%;
    z-index: 9;
    width: 720px;
    left: 50%;
    margin-left: -360px;
    text-align: center;
    background-color: rgba(10,10,10,0.5);
}
.warp-src-t-l{padding: 5px 15px 5px 25px;}
.artist-li-ac-src-karoke { width: 240px;}
.tittle-li-ac-src-karoke {width: 320px;}
.forward-li-ac-src-karoke{width:80px;}
.regrited-li-ac-src-karoke{width:60px;}
.play-li-ac-src-karoke{width:100px;}
.li-ac-src-karoke > div, .li-ac-src-karoke-2 > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}
.li-ac-src-karoke, .li-ac-src-karoke-2 {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    font-size: 12px;
}
.li-ac-src-karoke-2{    
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    margin-bottom: 1px;
}
div.li-ac-src-karoke div.tittle-li-ac-src-karoke, div.li-ac-src-karoke-2 div.tittle-li-ac-src-karoke { padding-left: 15px;}
.btn-s-gj{
    color: #fff;
    border-radius: 4px;
    padding: 6px 14px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 70px;
}
.btn-s-gj:hover{ color:#fff; text-decoration:none;}
.overflow-li-ac-src-karoke {
    overflow-y: auto;
    min-height: 300px;
    max-height: 400px;
    overflow-x: hidden;
}
.li-ac-src-karoke {font-weight: bold;}
.modal-lg-karoke {width: 1140px;}
.tittle-li-ac-src-karoke span, .artist-li-ac-src-karoke span, .forward-li-ac-src-karoke span {text-align: left; line-height: 1.2;}
/*===============================================================================================================================================================
========================== QUERY MD DESKTOP ===========================================================
=====================================================================================*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
}
/*===============================================================================================================================================================
========================== QUERY SM TABLET ===========================================================
=====================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    
}
/*===============================================================================================================================================================
========================== QUERY XS PHONE ===========================================================
=====================================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px){
    .warp-layer-f{width:480px; margin-left: -240px;}
}
/*===============================================================================================================================================================
========================== QUERY XXS PHONE ===========================================================
=====================================================================================*/
@media only screen and  (max-width: 479px){
    .warp-layer-f{width:320px; margin-left: -160px;}    
}