/*edit*/
body{
	background-color: #efefef;
}
.block-white{
	background-color: transparent;
}
.warp-stat-song-single{
	background: #fff;
	opacity: 0.8;
	padding: 5px 5px 0 5px;
}
.img-border-gj {
    border: 1px solid #DED1D1;
}
.play-single-music{
	color: rgba(255,255,255,0.67);
}
.track-group{
	background-color: #fff;
}

/*new*/
.desc-single-music{

}
.desc-single-music h1{
	margin: 0;
	color: #555;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.desc-single-music p{
	margin: 1px;
	color: #555;
	font-size: 12px;
}
.action-single-music{
	list-style: none;
	padding: 0;
	margin: 0;
    text-align: center;
    overflow: hidden;
}
.action-single-music li{
	text-align: center;
    padding: 0 8px;                    /*query width*/
    display:inline-block;
}
.action-single-music li>a{
	color: #555;
}
.action-single-music li>a:hover{
	color: #000;
}
.action-single-music li>span{
	display: block;
	color: #555;
	font-size: 9px;
}


.menu{
	width: 100%;
}
.hr{
	margin: 5px 0;
    height: 1px;
    background: -webkit-radial-gradient(50% 50%, 45% 5px, #aaa 0%, #efefef 100%);
}
.hr-sm{
	margin: 5px 0;
	height: 1px;
    background: -webkit-radial-gradient(50% 50%, 20% 5px, #aaa 0%, #efefef 90%);
}
.menu h3{
	margin: 0 auto;
	color: #009df6;
	font-weight: 600;
}
.action-menu{
	list-style: none;
	padding: 0;
	margin: 0;
    text-align: center;
    overflow: hidden;
}
.action-menu li{
	text-align: center;
    width: 360px;                     
    display:inline-block;
}
.action-menu li>a{
	color: #555;
}
.action-menu li>a:hover{
	color: #000;
}
.action-menu li>span{
	display: block;
	color: #555;
	font-size: 9px;
}

.warp-src-gj-lg{
	width:100%;
	position:relative;
}
.input-src-lg-gj{
	padding: 6px 32px 6px 12px;
	width:100%;
	-moz-border-radius:10em;
	border-radius:10em;
	border: solid 1px #ccc;
}
.btn-src-gj-lg
 {
    border: 0;
    background: none;
    padding: 2px 2px 2px 12px;
    /* margin-top: 2px; */
    position: absolute;
    right: 7px;
    top: 1px;
    /* top: 0px; */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ccc;
    font-size: 18px;
	z-index:1000;
}

.owl-market .item  {
	height: 360px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item img {
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
}

.prev-nav-wraper{
	width: 10%;
	height: 360px;
/*	background-color: #fff;*/
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	/*margin-top: 208px;*/
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.next-nav-wraper{
	width: 10%;
	height: 360px;
/*	background-color: #fff;*/
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	/*margin-top: 208px;*/
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.prev-market{
	position: relative;
  	top: 50%;
  	left: 30%;
  	transform: translateY(-50%);
}
.next-market{
	position: relative;
  	top: 50%;
  	left: 30%;
  	transform: translateY(-50%);
}
.btn.prev-market,
.btn.next-market{
	color: rgba(255,255,255,0.8);
}
.btn.prev-market:active,
.btn.prev-market.active,
.btn.next-market:active,
.btn.next-market.active{
	color: rgba(0,157,246,0.8);
}
/*---------------------trackbank------------------------------------------------*/
#bg-white{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.navbar.nav-track{
	border-radius: 0;
	background-color: #e7e7e7;
	margin-bottom: 0;
}
.wrap-track-cat{
	width: 600px;
	height: auto; 	
	overflow: hidden;
}
.owl-track-cat .item{
  padding: 20px 0px;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  cursor: pointer;
}
.item>a{
	color: #555;
}
.item>a:active,
.item>a:hover{
	text-decoration: none;
	color: #009df6;
}
.item>a.active{
	text-decoration: none;
	color: #0476b6;
}
.navbar-left>h3{
	margin:0px;
	padding: 15px 0;
}
.nav-track .navbar-nav>li>a{
	color: #555;
}
.nav-track .navbar-nav>li>a.btn{
	padding: 5px 10px;
	margin: 15px 0 10px 50px;
	color: #fff;
	border-radius: 20px;
	background-color: #009df6;
}
.nav-track .navbar-nav>li>a.btn:active,
.nav-track .navbar-nav>li>a.btn.active{
	background-color: #0476b6;
}

.nav-track .navbar-nav>li>a.btn.prev,
.nav-track .navbar-nav>li>a.btn.next{
	margin: 0;
	padding-top:18px;
	font-size: 28px;
	color: rgba(0,0,0,.2);
	background-color: transparent;
}
.nav-track .navbar-nav>li>a.btn.prev:active,
.nav-track .navbar-nav>li>a.btn.prev.active,
.nav-track .navbar-nav>li>a.btn.next:active,
.nav-track .navbar-nav>li>a.btn.next.active {
  color: rgba(0,157,246,0.7);
}


.panel-body{
	padding: 0 5px 0 10px;
}
.panel-group .panel + .panel {
     margin-top: 0px; 
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 5px 5px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 12px;
}

/*ads*/
#bg-grey{

}
.ads-box-wide{
	display: inline-block;
	width: 970px;
	height: 90px;
	border: 1px solid #ccc;
	margin: 20px;
	background-color: #aaa;
}
.ads-box-wide-half{
	display: inline-block;
	width: 468px;
	height: 60px;
	border: 1px solid #ccc;
	margin: 20px;
	background-color: #aaa;
}

.ads-box-lg{
	display: inline-block;
	width: 300px;
	height: 250px;
	margin-top: 10px;
	background-color: #aaa;
}

.ads-box-sm{
	display: inline-block;
	width: 180px;
	height: 150px;
	margin-top: 10px;
	background-color: #aaa;
}
/*MD*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.col-md-4.track-group{
		padding-right: 5px;
		padding-left: 5px;
	}
}
/*SM*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/*search result trackbank*/
.panel-track{
	margin-bottom: 0;
	border-radius: 0;
	padding: 20px;
}
/*.panel-group .panel.panel-default{
	border-radius: 0;
}*/
.panel-track .table>thead>tr>td{
	font-size: 14px;
	padding-bottom: 20px;
}
.panel-track .table>tbody{
	background-color: #e7e7e7;
}
.panel-track .table>tbody>tr>td{
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
}

.med-soc-gj li {
    float: left;
    width: 30px;
    height: 50px;
    margin-right: 15px;
}
.med-soc-gj li a {
    display: block;
    color: #eee;
    font-size: 30px;
    line-height: 60px;
}

/*
.gj-track-price{
	padding: 3px;
	color: #fff;
	text-align: center;
	border-radius: 20px;
	font-size: 10px;
}
.gj-track-price.buy{
	background-color: #0EAD47;
}
.gj-track-price.free{
	padding: 3px 8px;
	text-transform: uppercase;
	background-color: #FFB007;
}*/