@charset "utf-8";
/* CSS Document */

@import url("../font-awesome/css/font-awesome.css");
@font-face{
	font-family:teksSansReg;
	src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family:teksSansSBold;
	src:url(../fonts/OpenSans-Semibold.ttf);
}
@font-face{
	font-family:teksSansLig;
	src:url(../fonts/OpenSans-Light.ttf);
}
/* Sticky footer, Reset, and Base
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height:100%;
}
body {
  /* Margin bottom by footer height */
 /* margin-bottom: 60px;*/
  font-family:teksSansReg;
  height:100%;
  background-color:#fff;
}
.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 115px;
  background-color: #f5f5f5;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.motion-animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.full-w-left{float:left; width:100%}

.twitter-color{ background-color:#4099ff;}
.facebook-color{ background-color:#3b5998;}
.gplus-color{ background-color:#dd4b39;}
.jam-color{background-color:#fff212;}
a.logo-gritjam {
    display: block;
    padding: 5px;
}

.desc-p {
    line-height: 2em;
    font-size: 14px;
}
/*------------------------ COUNT DOWN ------------------ */
h4.soon{font-size:24px; color:#fff !important;}
p.txt-survey {
    margin-top: 15px;
    text-shadow: 1px 1px 4px rgba(20,20,20, 0.6);
    color: #fff;
}
.warp-btn-survey {
    margin: 0;
    display: inline-block;
}
a.btn-survey-gj i {
    float: left;
    padding: 5px 10px 5px 0px;
}
.counter-group {
  /*margin: 30px auto;*/
  display: inline-block;
}
.counter-group:before,
.counter-group:after {
  content: " ";
  display: table;
}
.counter-group:after {
  clear: both;
}
.counter-block {
  float: left;
  margin-right: 20px;
}
.counter-block .counter {
  position: relative;
  width: 200px;
  height: 150px;
  overflow: hidden;
  font-family: TeksSansReg;
}
.counter-block .counter .number {
    padding: 1%;
    width: 46%;
    height: 98%;
    background-color: rgba(20,20,20, 0.8);
    color: #fefefe;
    position: absolute;
    font-size: 120px;
    line-height: 130px;
    top: -10000px;
    border: 3px solid#ccc;
}
.counter-block .counter .number.tens {
  left: 0;
}
.counter-block .counter .number.units {
  left: 50%;
}
.counter-block .counter .number.hundreds {
  display: none;
}
.counter-block .counter .number.show {
  top: 0;
  z-index: 2;
}
.counter-block .counter .number.hidden-down {
  top: 100%;
}
.counter-block .counter .number.hidden-up {
  top: -100%;
  z-index: 100;
}
.counter-block .counter.with-hundreds {
  width: 300px;
}
.counter-block .counter.with-hundreds .number {
  width: 30.66%;
}
.counter-block .counter.with-hundreds .number.tens {
  left: 33.33%;
}
.counter-block .counter.with-hundreds .number.units {
  left: 66.66%;
}
.counter-block .counter.with-hundreds .number.hundreds {
  display: block;
  left: 0;
}
.counter-block .counter-caption {
  font-size: 150%;
  text-transform:uppercase;
  padding:5px;
  position:relative;
  font-weight:bold;
  color:#fff;
  text-shadow:2px 2px 4px #000;
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}

.countdown-container {
	position: relative;
	margin:25px 0px;

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;	
	width: 100%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;	
	font-size: 30px;
	font-weight: bold;	
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 36px;
}

.text .type-time {
	font-size: 18px;
}



/*------------------------ NAV ---------------------- */
.navbar-bootsnipp {
    background-color: rgb(255, 255, 255);
	border-color: rgb(95, 176, 228);
	border-radius: 0px;
	margin-bottom: 0px;
	z-index: 100;
}
.navbar-bootsnipp:nth-of-type(2) {
	border-top-width: 1px;
	z-index: 50
}

.navbar-bootsnipp.affix-top {
	position: absolute;
	top: 0px;
	width: 100%;
}
.navbar-bootsnipp.affix {
	top: 0px;
	width: 100%;
}
.navbar-bootsnipp .navbar-toggle .icon-bar {
	background-color: rgb(95, 176, 228);
}

.navbar-bootsnipp .navbar-brand {
	color: rgb(95, 176, 228);
	font-weight: 900;
	letter-spacing: 2px;
}

.navbar-bootsnipp .navbar-nav > li > a {
	border: 0px solid rgb(95, 176, 228);
	color: rgb(220, 220, 220);
	padding: 15px 14px;
	text-shadow: 0 1px 0 rgba(120, 120, 120, .55);
}

.navbar-bootsnipp .navbar-nav > li > a.search-menu {
	border: 0px solid rgb(95, 176, 228);
	color: rgb(220, 220, 220);
	padding: 15px 16px;
	text-shadow: 0 1px 0 rgba(120, 120, 120, .55);
}

.navbar-bootsnipp .navbar-nav > li > form > .input-group > input,
.navbar-bootsnipp .navbar-nav > li > form > .input-group > .input-group-btn > .btn {
	border-radius: 0px;
}

.navbar-bootsnipp .navbar-nav > li:not(.disabled).open > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled).active > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:hover, 
.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:focus {
	border-left-width: 5px;
	color: rgb(95, 176, 228);
	padding-left: 10px;
}
.navbar-bootsnipp .navbar-nav > li.disabled > a {
	color: rgb(200, 200, 200);
}

.navbar-bootsnipp .navbar-nav > li > .dropdown-menu {
	border-radius: 0;
	margin-right: -1px;
	min-width: 220px;
	padding: 0px;
}
.navbar-bootsnipp .navbar-nav > li:not(.dropdown-right) > .dropdown-menu {
	left: 0px;
	margin-left: -1px;
	right: auto;
}
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a {
	border-left: 0px solid rgb(95, 176, 228);
	color: rgb(120, 120, 120);
	font-size: 16px;
	font-weight: 400;
	padding: 10px 20px;
	white-space: nowrap;
}
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li.active > a, 
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a:hover, 
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a:focus {
	background-color: rgb(245, 245, 245);
	border-left-width: 5px;
	padding-left: 15px;
}

.navbar .bootsnipp-profile > a {
	padding-bottom: 9px; 
	padding-top: 9px; 
}
.navbar .bootsnipp-profile > a > img {
	border-radius: 50%;
	width: 32px;
}
.navbar .bootsnipp-profile > .dropdown-menu {
	width: 320px;
}
.navbar .bootsnipp-profile > .dropdown-menu > li > .row {
	padding: 5px 15px;
}
.navbar .bootsnipp-profile > .dropdown-menu > li > .row img {
	width: 100%;
}

.navbar-bootsnipp .bootsnipp-search {
	display: none;
}
.navbar-bootsnipp .bootsnipp-search .form-control {
	background-color: rgb(235, 235, 235);
	border-radius: 0px;
	border-width: 0px;
	font-size: 24px;
	padding: 30px 0px;
}
.navbar-bootsnipp .bootsnipp-search .form-control {
	background-color: rgb(235, 235, 235);
	border-radius: 0px;
	border-width: 0px;
	font-size: 24px;
	padding: 25px 0px;
}
.navbar-bootsnipp .bootsnipp-search .form-control:focus {
	border-color: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn {
	padding: 14px 14px 14px 15px;
	border-radius: 0px;
	margin-left:0px;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn.active,
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn:hover,
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn:focus {
	padding: 14px 14px 14px 15px;
}
.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn-default {
	background-color: rgb(245, 245, 245);
}
.nav-padding {
	padding-top: 61px;
}

.navbar-gritjam{
	background-color:#052460;
    /*margin: 0;
    border: none;
    border-radius: 0px;*/
}
.navbar-gritjam .navbar-nav > li > a {
    font-family: teksSansReg;
	text-transform: uppercase;
    font-size: 12px;
}
.gritjam-search-h{padding:0 15px;}

	.mac-search {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    .mac-search.search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    .mac-search button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
     .search-query{
        width:40px;
    } 
    .search-query:focus{
        width: 260px;
    }

.search-gj {
    padding: 5px 5px;
    float: right;
}
/* reset webkit search input browser style */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing:content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}

/* search input field */
input[type=search] {
	/*background: #ededed url(images/search-icon.png) no-repeat 9px center;*/
	border: solid 1px #ccc;
	padding: 9px 35px 9px 12px;
	width: 50px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	
}
input[type=search]:focus {
	width: 100px;
	background-color: #fff;
	border-color: #6dcff6;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* placeholder */
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}
.btn-src-gj
 {
    border: 0;
    background: none;
    padding: 2px 10px 2px 2px;
    /* margin-top: 2px; */
    position: absolute;
    right: 7px;
    top: 10px;
    /* top: 0px; */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ccc;
    font-size: 18px;
	z-index:1000;
} 
.btn-src-gj-sm
 {
    border: 0;
    background: none;
    padding: 2px 2px 2px 12px;
    /* margin-top: 2px; */
    position: absolute;
    right: 7px;
    top: 1px;
    /* top: 0px; */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ccc;
    font-size: 18px;
	z-index:1000;
} 

/*--------------------- FOOTER -------------- */
.nav-social-footer {
    width: 100%;
    float: left;
    padding: 20px 15px;
    text-align: center;
}
.nav-social-footer a {
   font-family: teksSansReg;
	text-transform: uppercase;
    font-size: 14px;
	color:rgba(250,250,250,0.9);
	text-decoration:none;
	text-shadow: 2px 2px 4px rgba(120, 120, 120, .55);
}
.nav-social-footer a:hover {
	color:rgba(255,255,255,1);
	text-decoration:none;
	text-shadow: 2px 2px 4px rgba(120, 120, 120, .55);
}
.warp-footer {
    background-color: #009df6;
    padding: 15px 0;
}
.warp-copyright {background-color: #53707f;}
.copyright {
    text-align: center;
    padding: 5px 0;
}
.copyright p {
    font-size: 11px;
    margin: 0;
    color: #e5edc2;
}

/*------------------------------ TESTING PARALLAX ------------------ */
section{
	background:white;
	padding:0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper{
	color:#000;
	text-shadow:none;
}

.hero{
	/*background:url(https://unsplash.imgix.net/photo-1419332563740-42322047ff09?q=75&fm=jpg&s=f1e7d176e154bfe4a511b9ecd95a0a84);*/
	background: url(../img/bg-overlay.jpg);
    url(../img/bg-overlay.jpg);
	background-size: cover;
	height: 100%;
    max-height:100%;
    overflow: hidden;
	min-height:700px;
}
.hero .content{
	margin-top:13%;
}

.overlay{
	position: relative;
  	z-index: 1;
}
.overlay:after{
	/*background:rgba(0, 157, 246, 0.8);*/
	background:rgba(20, 20, 20, 0.6);
	content: "";
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1; 
 	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: url(../img/grid.png);
}


/*------------------------------- SEC INTRODUCE -------------------- */
/*.tinted-img{
	background: linear-gradient( rgba(0, 157, 246, 0.9), rgba(0, 157, 246, 0.45) ), url(../img/bg-overlay.jpg);
}*/
.jumbotron.vertical-center {
  margin-bottom: 0; background-color: transparent; /* Remove the default bottom margin of .jumbotron */
}
.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}
.sec-intro-gj {
    /*margin-top: 10%;*/
    text-align: center;
	margin-top: 0px;
}
.sec-intro-gj h3 {color: #eee; text-shadow: 2px 2px 4px rgba(20,20,20,0.9); font-family: TeksSansLig; font-size: 28px;}
.sec-intro-gj > h3.sign-in-gj {color: #eee; margin: 20px 0 40px 0;}
.sec-intro-gj h1 {color: #eee; text-shadow: 2px 2px 4px rgba(20,20,20,0.8); font-family: TeksSansSBold; font-size: 42px;}
.sec-intro-gj h1:nth-child(2) {margin: 30px 0 10px 0;}
.sec-intro-gj > h1.line-2 { margin-top: 0px;}
.sec-intro-gj h4 {
    color: #ccc;
    text-shadow: 2px 2px 4px rgba(20,20,20,0.9);
    margin: 40px 0 20px 0;
}
a.btn-sign-in-gj{
    display: block;
    padding: 20px;
    font-size: 21px;
    border-radius: 40px;
	margin:10px;
	color:#eee;
}
a.btn-survey-gj {
    display: block;
    padding: 20px;
    font-size: 21px;
    border-radius: 40px;
	margin:10px;
	color:#111;
}
a.btn-sign-in-gj i {
    float: left;
    padding: 5px 0 5px 20px;
}
a.btn-sign-in-gj:hover, a.btn-survey-gj:hover {
    text-decoration: none;
    background-color: #aaa;
}
a.btn-anchor-1 {
    display: block;
    /* bottom: 5px; */
    margin: 0 auto;
    /* margin-top: 7%; */
    color: #fff;
    text-align: center;
    padding: 8px;
    width: 60px;
    height: 60px;
    font-size: 32px;
    background-color: #009df6;
    border-radius: 30px;
    border: 1px solid #417d9f;
}
a.btn-anchor-1:hover {
    color: #009df6;
    background-color: #eee;
    border: 1px solid #417d9f;
}
.warp-anchor {
    position: relative;
    /* min-height: 100%; */
    /* min-height: 15vh; */
    padding-top: 120px;
}
/*---------------------- SECTION - ABOUT -------------------------------------------*/
.warp-section-f-w { background-color: #fff;}
.about-gj {
    float: left;
    width: 100%;
    padding: 40px 5px;
    text-align: center;
}
.about-gj h1 { margin-bottom: 15px;}
.about-gj p.desc-p, .about-gj-fluid-h p.desc-p { line-height: 2em; font-size: 14px;}

/*---------------------- SECTION - MAKE MUSIC ---------------------------------------*/
.features-intro-img { position: relative;}
.nopadding { margin: 0 !important; padding: 0 !important;}
.features-bg {
    position: relative;
    min-height: 480px;
    background: url('../img/bg-featured.jpg') no-repeat center center;
    background-size: cover;
}
.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/grid.png);
	z-index:1000;
}

.warp-section-h-b {
    position: relative;
    background: #009df6;
}

.warp-about-gj-fluid {
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    min-height: 480px;
	position:relative;
}

.about-gj-fluid-h {
    position: absolute;
    width: 570px;
    height: 350px;
    top: 50%;
    margin-top: -175px;
    padding: 0 15px 0 40px;
}

/*-------------------- SECTION -DEC POINT ----------------*/
.warp-desc-point-gj {
    float: left;
    width: 100%;
    text-align: center;
    min-height: 250px;
	margin-bottom: 30px;
}
.warp-icon-point {
    margin: 0px 0px 10px 0px;
}
.warp-icon-point i {
    font-size: 56px;
    padding: 15px;
	color: #009df6;
}
.desc-point-gj {
    float: left;
    width: 100%;
}
.title-point-gj {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

/*---------------------------- MAP -----------------------*/
.map-loc-gj {
    height: 400px;
}
#map-canvas { height:400px;}
/*-------------------------------------------------------*/

@media only screen and (min-width: 768px) {
    .navbar-bootsnipp .navbar-brand {
    	font-size: 20px;
		height: auto;
		padding: 15px 5px;
	}
	.navbar-bootsnipp .navbar-nav > li > a {
		font-size: 12px;
		letter-spacing: 1px;
	}
	.navbar-bootsnipp .navbar-nav > li:not(.disabled).open > a,
	.navbar-bootsnipp .navbar-nav > li:not(.disabled).active > a,
	.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:hover, 
	.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a:focus {
		border-bottom-width: 5px;
		border-left-width: 0px;
		padding-bottom: 10px;
		padding-left: 14px;
	}
	
	.navbar-bootsnipp .navbar-nav > li:not(.disabled).open > a.search-menu,
	.navbar-bootsnipp .navbar-nav > li:not(.disabled).active > a.search-menu,
	.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a.search-menu:hover, 
	.navbar-bootsnipp .navbar-nav > li:not(.disabled) > a.search-menu:focus {
		border-bottom-width: 5px;
		border-left-width: 0px;
		padding-bottom: 10px;
		padding-left: 16px;
	}

	.navbar-bootsnipp .navbar-nav > li.disabled > a {
		padding-left: 10px;
		padding-right: 10px;
	}


	.navbar-bootsnipp .bootsnipp-search {
		background-color: rgb(235, 235, 235);
		display: block;
		position: absolute;
		top: 100%;
		width: 100%;
		-webkit-transform: rotateX(-90deg);
		-moz-transform: rotateX(-90deg);
		-o-transform: rotateX(-90deg);
		-ms-transform: rotateX(-90deg);
		transform: rotateX(-90deg);
		-webkit-transform-origin: 0 0 0;
		-moz-transform-origin: 0 0 0;
		-o-transform-origin: 0 0 0;
		-ms-transform-origin: 0 0 0;
		transform-origin: 0 0 0;
		visibility: hidden;
	}
	.navbar-bootsnipp .bootsnipp-search.open {
		-webkit-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		transform: rotateX(0deg);
		visibility: visible;	
	}
	.navbar-bootsnipp .bootsnipp-search > .container {
		padding: 0px;
	}    
}

/*===============================================================================================================================================================
========================== QUERY MD DESKTOP ===========================================================
=====================================================================================*/


@media only screen and (min-width: 992px) and (max-width: 1199px){

/*----------------- COUNT DOWN ----------------------------*/
  .counter-group {
    margin: 10px auto;
  }
  .counter-block {
    margin-right: 10px;
  }
  .counter-block .counter {
    width: 120px;
    height: 90px;
    overflow: hidden;
    font-weight: 700;
  }
  .counter-block .counter .number {
    font-size: 68px;
    line-height: 76px;
  }
  .counter-block .counter.with-hundreds {
    width: 180px;
  }
  .counter-block .counter-caption {
    font-size: 100%;
  }
  
  
}

/*===============================================================================================================================================================
========================== QUERY SM TABLET ===========================================================
=====================================================================================*/


@media only screen and (min-width: 768px) and (max-width: 991px){
.search-gj {
    padding: 5px 5px;
    float: left;
	width:100%;
}

.warp-src-gj-sm{
	width:100%;
	position:relative;
}
.input-src-sm-gj{
	padding: 6px 32px 6px 12px;
	width:100%;
	-moz-border-radius:10em;
	border-radius:10em;
	border: solid 1px #ccc;
}

/*--------------------------------- COUNT DOWN -----------------*/
  .counter-group {
    margin: 0 auto;
  }
  .counter-block {
    margin-right: 8px;
  }
  .counter-block .counter {
    width: 96px;
    height: 80px;
  }
  .counter-block .counter .number {
    font-size: 58px;
    line-height: 68px;
  }
  .counter-block .counter.with-hundreds {
    width: 144px;
  }
  .counter-block .counter-caption {
    font-size: 85%;
  }

}

/*===============================================================================================================================================================
========================== QUERY XS PHONE ===========================================================
=====================================================================================*/


@media only screen and (min-width: 480px) and (max-width: 767px){
	
	/*--------------------------------- COUNT DOWN -----------------*/
	
   .counter-block .counter {
    width: 70px;
    height: 50px;
  }
  .counter-block .counter .number {
    font-size: 35px;
    line-height: 40px;
  }
  .counter-block .counter.with-hundreds {
    width: 91px;
  }
  .counter-block .counter-caption {
    font-size: 70%;
  }


}

/*===============================================================================================================================================================
========================== QUERY XS PHONE ===========================================================
=====================================================================================*/


@media only screen and  (max-width: 479px){
	
	/*--------------------------------- COUNT DOWN -----------------*/
	
   .counter-block .counter {
    width: 70px;
    height: 50px;
  }
  .counter-block .counter .number {
    font-size: 55px;
    line-height: 50px;
  }
  .counter-block .counter.with-hundreds {
    width: 91px;
  }
  .counter-block .counter-caption {
    font-size: 70%;
  }


}