.stat-list-song2 {
    float: left;
    padding: 5px 4px;
    display: table;
    width: 16%;
    font-size:11px;
    text-align:center;
}

.stat-list-song2 span, .stat-list-song-thumb2 span {
    display: block;
    color: #555;
    font-size: 9px;
}

.stat-list-song2 a, .stat-list-song-thumb2 a {
    color: red; cursor:pointer;
}
.stat-list-song a:hover, .stat-list-song-thumb2 a:hover {
    color: #009df6;
}
.stat-list-song2 a:hover > .fa-heart, .stat-list-song-thumb2 a:hover > .fa-heart {
    color: red;
}

.warp-stst-list-song .stat-list-song2 {
    padding-top: 8px;
    padding-bottom: 0;
}

.stat-list-song-thumb2 {
    float: left;
    padding: 5px 3px;
    width: 25%;
    font-size: 11px;
    text-align: center;
}

