@charset "utf-8";
/* CSS Document */

.navbar-gritjam {
    background-color: #06244A;

}
.lg-w-warp{
	position: relative;
}
.warp-all-music-market{
	background-color: #fff;
	border-radius: 4px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	max-height: 485px;
	overflow-y: auto;
}
.warp-all-music-market .col-md-6.gj-song-wrap{
	padding-left: 6px;
	padding-right: 6px;
}

.gj-song-wrap hr{
	margin-top: 2px;
	margin-bottom: 2px;
	background: -webkit-radial-gradient(50% 50%, 45% 5px, #aaa 0%, #efefef 100%);
}
.gj-song-card{
	background-color: #fff;
	border-radius: 4px;
	padding: 2px;
	height: 150px;
	width: 100%;
	position: relative;
}
.gj-song-card.active{
	background-color: #eaeaea;
}
.gj-song-cover{
	width: 150px;
	height: 100%;
	border-radius: 4px;
	background-color: #fdfdfd;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.gj-song-cover>img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.gj-spiceit-label{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}
.gj-song-play{
	width: 35px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -17.5px;
}
.gj-song-play i{
	color: #fff;
}
.gj-song-btn{
	width: 150px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 25px;
	margin-left: -75px;
}
.gj-song-btn i{
	color: #fff;
	margin: 12px 28px;
}
.gj-song-play i:hover,
.gj-song-btn i:hover{
	color: #337ab8;
	cursor: pointer;
}
.gj-song-desc{
	 width: 100%;
    width: -webkit-calc(100% - 155px);
    width: -moz-calc(100% - 155px);
    width: calc(100% - 155px);
	height: 100%;
	/*background-color: #fdfdfd;*/
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	padding-top: 4px;
	overflow: hidden;
}
.gj-song-story{
	width: 60%;
	display: inline-block;
}
.gj-song-title{
	font-size: 18px;
	font-weight: 600;
	color: #06244a;
	margin: 0;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.gj-song-title a{
	color: #06244a;
}
.gj-song-username{
	font-size: 14px;
	color: #b8b8b8;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.gj-song-contributor{
	font-size: 10px;
	color: #555;
	height: 30px;
	text-overflow:ellipsis;
	overflow-x:hidden;
	white-space: nowrap;

}
.gj-song-author li{
	font-size: 10px;
	color: #555;
	text-overflow:ellipsis;
	overflow-x:hidden;
	white-space: nowrap;
}
.gj-song-action{
	width: 38%;
	display: inline-block;
	text-align: right;
	float: right;
}
.gj-song-action i{
	color:#555;
	font-size: 12px;
	display: inline-block;
}
.gj-song-action i.btn{
	font-size: 14px;
	margin-right: -10px;
}
.gj-song-action i.btn:hover{
	color:#337ab8;
	cursor: pointer;
}
.gj-song-card.active .gj-song-action i.btn{
	color: #337ab8;
}
.gj-song-action p{
	display: inline-block;
}
.gj-song-action p a{
	font-size: 10px;
	color: #b8b8b8;
}
.gj-played{
	margin-top: 45px;
}
.gj-played p{
	margin-bottom: 5px;
	font-size: 12px;
}

.gj-song-action .warp-stst-list-song{
	/*margin-top: 45px;*/
	border-top:1px solid #ccc;
	opacity: 1;
}
.gj-song-action .warp-stst-list-song>.stat-list-song{
	padding: 5px 8px;
}
.gj-song-action .warp-stst-list-song>.stat-list-song:last-child{
	padding-right: 0;
}
.gj-song-action .warp-stst-list-song>.stat-list-song>a>i{
	color: #06244a;
}
.gj-song-action .warp-stst-list-song>.stat-list-song>a>i:hover{
	color: #337ab8;
}
.stat-list-song{
	position: relative;
}
.stat-list-song .stat-tool-tip{
	width: 40px;
	height: 15px;
	border-radius: 2px;
	background-color: #337ab8;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -15px;
	margin-left: -4px; 
	display: none;
	padding: 2px 4px;
}
.stat-tool-tip:before{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51, 122, 184, 0);
	border-top-color: #337ab8;
	border-width: 4px;
	margin-left: -4px;
}
.stat-list-song:hover .stat-tool-tip{
	display: block;
}
.gj-song-desc:hover .warp-stst-list-song{
	opacity: 1;
}
.gj-song-detail{
	display: none;
}
.gj-song-detail.on-right{
	height: 485px;
	width: 49.25%;
	z-index: 10;
	background-color: #eaeaea;
	left: 50%;
	top: 0;
	margin-top: 50px;
	position: absolute;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.gj-song-detail.on-left{
	height: 485px;
	width: 49.25%;
	z-index: 10;
	background-color: #eaeaea;
	right: 50%;
	top: 0;
	margin-top: 50px;
	margin-right: 10px;
	position: absolute;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.gj-song-detail-header{
	padding: 10px;
	background-color: #e6e9ee;
	margin-bottom: 5px;
}
.gj-song-detail-header h1{
	font-size: 14px;
	margin: 0;
	color: #06244a;
	font-weight: 600;
	display: inline-block;
}
.gj-song-detail-header a.btn,
.gj-song-detail-header i.btn{
	font-size: 9px;
	padding: 2px 4px;
	float: right;
	display: inline-block;
	margin-left: 10px;
}
.gj-song-detail-header i.btn{
	color: #ccc;
	font-size: 11px;
}
.gj-song-detail .stat-list-song{
	margin: 0 4px;
	opacity: 1;
}
.gj-song-detail .stat-list-song>a>i{
	color: #06244a;
}
.gj-song-detail .stat-list-song>a>i:hover{
	color: #337ab8;
}
.gj-song-detail tbody>tr:hover .stat-list-song{
	opacity: 1;
}
.gj-track-detail p{
	font-size: 12px;

}
.msg-empty{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.gj-track-detail .gj-song-card{
	display: none;
	background-color: #eaeaea;
}
.gj-track-detail .stat-list-song{
	opacity: 1 !important;
}
.gj-track-detail .warp-stst-list-song{
	margin-top: 0px;
}
.gj-track-detail .gj-played{
	margin-top: 50px;
}
.warp-track-filter{
	height: 40px;
	width: 100%;
	background-color: #e5e1e2;
	padding: 10px;
	text-align: right;
    padding-right: 30px;
}
.warp-track-filter a{
	color: #555;
	text-decoration: none;
	margin: 15px;
	font-size: 12px;
}
.warp-track-filter a:hover{
	color: #337ab8;
}
.gj-featured-content-btn{
	background-color: #337ab8;
	border-radius: 4px;
	padding: 2px;
	height: 150px;
	width: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}
.gj-featured-content-btn a{
	color: #fff;
	opacity: .7;
}
.gj-featured-content-btn a:hover{
	opacity: 1;
}
.gj-featured-content-btn i{
	margin-top: 25px;
}
.gj-col-song{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}
.warp-group{
	height: 40px;
    width: 100%;
    background-color: #e5e1e2;
    padding: 10px;
    display: table;
}
.warp-group p{
	display: table-cell;
	text-align: center;
	color: #555;
}
.warp-group p:first-child{
	border-right: 1px solid #ccc;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.gj-song-detail.on-right,
	.gj-song-detail.on-left{
		height: 220px;
		width: 98.55%;
		z-index: 10;
		background-color: #eaeaea;
		left:0;
		top: 0;
		margin-top: 360px;
		position: absolute;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		overflow-y: hidden;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.gj-song-detail.on-right,
	.gj-song-detail.on-left{
		height: 220px;
		width: 98.55%;
		z-index: 10;
		background-color: #eaeaea;
		left:0;
		top: 0;
		margin-top: 360px;
		position: absolute;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		overflow-y: hidden;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
	}
}
@media only screen and (min-width: 321px) and  (max-width: 479px){
	.gj-song-detail.on-right,
	.gj-song-detail.on-left{
		height: 220px;
		width: 98.55%;
		z-index: 10;
		background-color: #eaeaea;
		left:0;
		top: 0;
		margin-top: 360px;
		position: absolute;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		overflow-y: hidden;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
	}
}
@media only screen and  (max-width: 320px){
	.gj-song-detail.on-right,
	.gj-song-detail.on-left{
		height: 220px;
		width: 98.55%;
		z-index: 10;
		background-color: #eaeaea;
		left:0;
		top: 0;
		margin-top: 360px;
		position: absolute;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		overflow-y: hidden;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
	}

}