.jw-background-color.jw-reset{
	background-color: #06244A; 
}
.jw-progress.jw-reset{
	background-color: #009df6;
}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-prev{
	display: none;
}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-next{
	display: none;
}
.jw-slider-time.jw-background-color.jw-reset.jw-slider-horizontal.jw-reset,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback{
	pointer-events: none;
}