@charset "utf-8";
/* CSS Document */

.warp-content-song-track{padding:25px 0; clear: both;}
.warp-content-song-track:before,.warp-content-song-track:after{content:" "; display:table;}
.warp-content-song-track:after{clear:both;}
.warp-half-content{padding:10px !important;}
.whislist-t-s{padding-bottom:10px; margin-bottom:5px; border-bottom:1px solid #dcdcdc;}
.whislist-t-s:last-child{border-bottom:none;}
.whislist-t-s:nth-last-child(2){border-bottom:none;}
.whislist-t-s:nth-last-child(3){border-bottom:none;}
.whislist-t-s .gj-song-action { width: initial;}
.section-title:after , .warp-section-2:after{ clear: both;}
.section-title:before, .section-title:after, .warp-section-2:before, .warp-section-2:after {
    display: table;
    content: "";
}
.section-title.ver-demo {background-color: #d6d9ee;}
.section-title.ver-demo .warp-btn-sec {padding:15px;}
.ver-demo a.btn {
    font-size: 11px;
    padding: 2px 4px;
}
.section-title h4 {
    float: left;
    margin: 0;
    padding: 15px;
}
.btn-mod{
  background: #337ab8;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.detail-track-song{
  border: 1px solid #bbebf7;
    padding: 3px;
    border-radius: 4px;
    background-color: #f6f6f6;
}
.col-md-6.gj-song-wrap.detail-track-song .gj-song-card {background: transparent;}
.warp-section-2 {
    padding: 8px 15px;
    background-color: #eaeaea;
    margin: 6px;
    border-radius: 4px;
    text-align: center;
}
.warp-section-2 h4 {
    margin: 0;
    color: #337ab8;
    display: inline-block;
  line-height:1.6;
}
.warp-section-2 form {display: inline;}
.warp-list-all-demo { padding: 0 6px;}
.instrumen-contributor {width: 100px;}
.author-song-track { width: 270px;}
.warp-all-ver-track-song{
  background-color: #fff;
    border-radius: 4px;
    margin-top: 0px;
    padding:10px 5px;
    position: relative;
}
.warp-all-ver-track-song .col-md-6.gj-song-wrap {padding:0 6px;}
.warp-creator-track-song{
  position:relative;
  overflow-x:hidden;
  overflow-y:auto;
    height: 440px;
}
.btn-li-play-song-track {width:25px; font-size:9px;}
.half-c  .li-ac-src-track > div.btn-li-ac-src-track {width:25px; font-size:9px;}
.half-c  .li-ac-src-track > div.lead-li-ac-src-track {width:80px;}
.half-c  .li-ac-src-track > div.tittle-song-track {width:120px; text-align:left;}
.half-c  .li-ac-src-track > div.instrumen-contributor {width:20px;}
.half-c  .li-ac-src-track > div.time-song-track {width:20px;}
.half-c  .li-ac-src-track > div.author-song-track {width:80px;}
.half-c  .li-ac-src-track > div.harga-li-ac-src-track {width:60px;}
.half-c  .li-ac-src-track > div.stat-song-track {width:60px;}

/*======================================= ALL DEMO =====================================================*/

.li-ac-src-track > div, .contributor-li-ac-src-track > div, .li-ac-src-track > div, .lead-li-ac-src-track > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}
.contributor-li-ac-src-track {width: 370px;}
.lead-li-ac-src-track {width: 90px;}
.contributor-li-ac-src-track a{margin-right:3px;}
.detail-contributor{width:40px}
.add-pl-track-song {width: 35px;}
a.btn-add-pl-track-song i{font-size:34px;}
.stat-song-track {width: 60px;}
.warp-ico-stat {
    float: left;
    border-radius: 4px;
    border: 1px solid #337ab8;
}
.ico-stat{float:left;}
.ico-stat a {
    display: block;
    padding: 5px;
}
/*.ico-stat, */.num-stat { float: left;padding: 5px;}
.num-stat{ min-width:44px; text-transform:uppercase;}
.ico-stat { background-color: #337ab8;}
.ico-stat a {color: #e7e7e7;}
.ico-stat a i {color: #e7e7e7;}
.ico-stat a:hover i {color: orange;}
.ico-stat a.disable i {color: black;}
@font-face {
  font-family: 'Gritjam Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.gritjam-icons {
  font-family: 'Gritjam Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*.ts_icon:before,ts-icon:before{font-family:Slack;font-size:1.25rem;font-style:normal;font-weight:400;display:inline-block}
.ts_icon.ts_icon_inherit:before,ts-icon.ts_icon_inherit:before{font-size:inherit}*/
/*.ts_icon{
  display: inline-block;
    font: normal normal normal 14px/1 Slack;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
.gritjam-icon-add-playlist:before{content:'\E03B'}
.warp-stat-card {
    position: absolute;
    bottom: 5px;
    width: 225px;
    right: 0px;
    padding-top: 5px;
}
.warp-stat-card {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 225px;
    font-size: 12px;
}
.warp-stat-card > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}
.color-gj-popup-report {
    background-color: #337ab8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/*======================================================================================================================================
=================================== MODAL REPORT DAN SEBAGAINYA DI HALAMAN TRACK DAN DEMO ===============================================
==============================================================================================================================*/
.btn-share-ts, btn-report-ts{cursor:pointer;}
.facebook-f-color{color:#3b5998;}
.twiter-f-color{color:#4099ff;}
.tumblr-f-color{color:#33ccc4;}
.gplus-f-color{color:#d34836;}
.pinterest-f-color{color:#C92228;}
.modal-header.color-gj-popup-report h4 {
    color: #fff;
    text-align: center;
}
.warp-opsi-report .radio {
    padding-left: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.2;
}
.warp-btn-exe-report {padding: 5px 25px;}
div#searchReportTrackSong.modal, div#reportTrackSongModal.modal, div#shareSongTrack.modal{
    text-align: center;
    padding: 0!important;
}
div#searchReportTrackSong.modal:before, div#reportTrackSongModal.modal:before, div#shareSongTrack.modal:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
div#searchReportTrackSong.modal .modal-dialog, div#reportTrackSongModal.modal .modal-dialog, div#shareSongTrack.modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.share-med-soc-gj li {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
}
.share-med-soc-gj li a {
    display: block;
    font-size: 48px;
    line-height: 1;
}
.share-med-soc-gj {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.label-url {float: left;width: 100%;}
.warp-url-share {
    float: left;
    width: 100%;
    margin: 5px 0;
}
.gj-checks input {opacity: 0;}
.gj-checks input[type="radio"] + i {border-radius: 100%;}
.gj-checks input:checked + i {border-color: #5bc0de;}
.gj-checks i {
    width: 18px;
    height: 18px;
    line-height: 1;
    border: 1px solid #337ab8;
    background-color: #fff;
    margin-left: -20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    font-size: 12px;
}
.gj-checks input[type="radio"]:checked + i:before {content: "\f111";}
.gj-checks input:checked + i:before {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 2px;
    text-align: center;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    color: #5bc0de;
}
.top-stat-card{top:45px;}
.num-li-ac-src{width:18px;}
.play-li-ac-src-ft { width: 125px;}
.btn-s-gj i { margin-right: 5px;}
.time-li-ac-src-ft{ width:75px;}
.tittle-li-ac-src-ft {width: 320px;}
.artist-li-ac-src-ft {width: 240px;}
.forward-li-ac-src-ft {width: 80px;}
div.li-ac-src-ft div.tittle-li-ac-src-ft, div.li-ac-src-ft-2 div.tittle-li-ac-src-ft {padding-left: 15px;}
.li-ac-src-ft, .li-ac-src-ft-2 {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    font-size: 12px;
}
.li-ac-src-ft > div, .li-ac-src-ft-2 > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}
.li-ac-src-ft {font-weight: bold;}
.li-ac-src-ft-2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    margin-bottom: 1px;
}
.warp-filter-tab select{
  font-size: 12px;
    padding: 3px 5px;
    height: 30px;
    width: auto;
    display: inline-block;
}
.filter-instrumen-tab{
  float: left;
    padding: 8px 12px 8px 0;  
}
/*======================================================================================================================================
==================================================== ALL PLAYLIST SONG AND PROJECT =====================================================
==============================================================================================================================*/
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
    z-index: 9000;
}
.fix-content{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 860px;
    background: #fff;
}
.warp-name-playlist {
    padding: 5px 0;
    overflow-x: hidden;
    overflow-y: auto;
  height:823px;
}
.name-playlist {
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    line-height: 1.4;
  clear:both;
}
.warp-btn-crt-playlist {
    text-align: left;
    border-bottom: 1px solid #dcdcdc;
}
.btn-crt-playlist {
    padding: 8px 15px;
    display: inline-block;
    cursor: pointer;
}
.btn-crt-playlist i {
    margin-right: 5px;
}
.warp-preview-playlist {
    padding: 15px;
    float: left;
    width: 100%;
}
.gj-playlist-detail.on-right {
    height: 860px;
    width: 100%;
    z-index: 10;
    background-color: #dcdcdc;
    left: 0;
    top: 0;
    margin-top: 0px;
    position: absolute;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.gj-playlist-detail{display:none;}
.gj-playlist-detail-header {
    padding: 3px 10px 3px;
    background-color: #e6e9ee;
    margin-bottom: 5px;
    display: table;
    width: 100%;
}
.gj-playlist-detail-header h1 {
    font-size: 16px;
    margin: 0;
    color: #06244a;
    font-weight: 600;
    display: inline-block;
    line-height: 1.8;
}
.btn-add-song-to-pl {
    border-radius: 4px;
    padding: 6px 14px;
    font-size: 12px;
    display: block;
    cursor: pointer;
    float: right;
    text-align: center;
    border: none;
    margin: 0 3px;
}

.gj-playlist-detail-header i.btn {
    padding: 2px 4px;
    float: right;
    display: inline-block;
    margin-left: 10px;
  color: #ababab;
    font-size: 11px;
}
.warp-playlist-body{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 860px;
}
.name-playlist:hover {
    background-color: #22a7f0;
}
.name-playlist.active {
    background-color: #dcdcdc;
}
.warp-song-pl {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 860px;
  min-height: 80px;
}
/*===============================================================================================================================================================
========================== QUERY MD DESKTOP ===========================================================
=====================================================================================*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
}
/*===============================================================================================================================================================
========================== QUERY SM TABLET ===========================================================
=====================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 991px){
}
/*===============================================================================================================================================================
========================== QUERY XS PHONE ===========================================================
=====================================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px){
}
/*===============================================================================================================================================================
========================== QUERY XXS PHONE ===========================================================
=====================================================================================*/
@media only screen and  (max-width: 479px){
}