@charset "utf-8";
/* CSS Document */

/*==================================================================================================================================================
============================================================ BACKGROUND COLOR ======================================================================
/*================================================================================================================================================*/
.bgc-lig-blue{background-color:#22a7f0;}
.bgc-med-30-blue{background-color:#3498db;}
.bgc-med-60-blue{background-color:#197cb2;}
.bgc-dark-blue{background-color:#06244a;}
.bgc-btn{background-color: #337ab6;}
.c-f-btn, .c-f-btn:hover{color:#fff;}
.bgc-btn:hover, .bgc-btn-dec:hover{background-color: #06244a;}
.f-n{float:none !important;}
.bgc-btn-dec{background-color:#c12e2a;}
/*==================================================================================================================================================
============================================================ POSITION BUTTON ======================================================================
/*================================================================================================================================================*/
.warp-btn-r-t{float:right; margin-top:-40px;}
.badge.up {
    position: relative;
    top: -10px;
    padding: 3px 6px;
    margin-left: -10px;
}
.fa-notif{font-size:14px;}
.badge-sm {
    font-size: 85%;
    padding: 2px 5px !important;
}
.bg-danger {
    background-color: #f05050;
    color: #ffffff;
}
.warp-no-notif, .warp-all-notif {
    padding: 5px;
    text-align: center;
    font-size: 12px;
}
.warp-no-notif{
    margin: 5px;
    border: 1px solid #22a7f0;
    border-radius: 4px;
    background-color: #dcdcdc;
}
.list-notif {
    display: block;
    padding: 8px;
    min-width: 360px;
    float: left;
    border-width: 1px 0;
    border-color: #f3f5f7;
    border-style:solid;
}
.notif-body {
    font-size: 12px;
    line-height: 1.3;
    width: calc(100% - 50px);
    float: left;
}
.notif-body small {
    margin-top: 6px;
    display: block;
}
.list-notif:hover {background-color: rgba(34,167,240,0.3);}
.list-notif-alt {    
    max-height: 420px;
    overflow-y: auto;
    float:left;
    width:100%;
}
.img-notif-pp {margin-right: 10px;}
.col-btn-red{background-color: #C43C35 !important; color:#fff;}
.col-btn-red:hover{background-color:#a7231c !important; color:#fff;}
/*==================================================================================================================================================
=================================================== ALL ABAOUT TIME LINE AND WALL ==================================================================
/*================================================================================================================================================*/
.sos-wrapper {    padding: 10px 5px;}
.panel.sos-wrapper, .warp-dettail.sos-wrapper {    padding: 15px;}
.sec-sosmed:before, .sec-sosmed:after{content:""; display:table;}
.sec-sosmed:after{clear:both;}
.warp-about-user {
    background-color: #06244a;
    width: 100%;
    float: left;
    min-height: 49px;
}
.bg-light {background-color: #3498db;}
.warp-dettail {
    width: 100%;
    display: table;
    height: 100%;
    position: relative;
}
.list-activity {
    float: left;
    width: 100%;
    min-height: 49px;
}
.header-user .nav-act {border: none;}
.header-user .nav-act > li a {
    border: none !important;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color:#fff;
}
.header-user .nav-act > li.active a, .header-user .nav-act > li a:hover {color: #555;}
.sec-sosmed {
    height: 520px;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #cbcbcb;
    clear:both;
}
li.list-activity-user.list-group-item { border-radius: 0 !important;}
.top-pos{top:10px;}
.scrollable-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 469px;
    background: #fff;
    min-height: 469px;
}
.m-t-n-xxs {margin-top: -1px;}
li.list-activity-user.list-group-item {
    border-radius: 0 !important;
    border-left: none;
    border-right: none;
}
.list-activity-user p {margin: 10px 0;}
.warp-dettail .th-tag p {
    color: #00529B;
    font-size: 12px;
}
.m-b-xs {margin-bottom: 5px;}
.block {display: block;}
.warp-dettail.wrapper a {text-decoration: none;}
.warp-dettail.wrapper .h4 {margin: 0;}
.panel.wrapper {border-radius: 2px;}
.warp-about-user h4 {
    color: #fff;
    margin: 15px;
}
.bg-card-fl {background-position: 50%; background-size: cover;min-height: 118px;}
.warp-single-friend > .desc-myfriend > .disc-user-name a, .warp-single-friend > .desc-myfriend > .disc-user-username a {color: #fff;}
.warp-single-friend.bg-card-fl > .desc-myfriend > .disc-user-name a, .warp-single-friend.bg-card-fl > .desc-myfriend > .disc-user-username a {color: #fff;}
.disc-user-header-fl {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 10px 5px;
}
.tile-card-bg-fl{
    background-color: rgba(40,44,51,.5);
    transition: all .3s ease-out;
    border-radius: 4px;
}
.disc-header-bg-fl {
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
}
.disc-header-bg-fl, .tile-card-bg-fl {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
.warp-single-friend div img{z-index:10; position:relative;}
.desc-myfriend, .warp-single-friend{position:relative;}
.desc-single-most-dl .name-group {
    font-size: 16px;
    padding: 10px 5px;
    line-height: 1.5;
}
a.btn-detail-sosmed span {
    clear: both;
    font-size: 12px;
    display: block;
    line-height: 0.6;
}
a.btn-detail-sosmed {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    color: #dcdcdc;
    width: 50px;
    text-align: center;
}
a.btn-detail-sosmed:hover, a.btn-detail-sosmed:hover span {
    text-decoration:none;
    color:#fff;
}
.play-stuf{
    position: absolute;
    margin: 0;
    bottom: 40px;
    right: 10px;
}
.gj-song-cover-wall {
    width: 100%;    border-radius: 4px;
    background-color: #fdfdfd;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.gj-song-cover-wall .gj-song-btn {
    width: 96px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -48px;
    background: linear-gradient(transparent, rgba(0, 0, 0, .3));
}
.gj-song-cover-wall .gj-song-play {
    width: 24px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -12px;
}
.bio-wrapper{padding:0 15px 15px;}
.bio-wrapper > .bio-short {
    margin-bottom: 5px;
    font-size: 14px;
}
.bio-short span {
    margin-left: 5px;
    font-style: italic;
    color: #3498db;
}
.name-list-friend span {
    font-size: 12px;
    line-height: 16px;
}
.name-list-friend {
    position: absolute;
    background: linear-gradient(transparent, rgba(0, 0, 0, .7));
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 5px;
    right: 0;
    line-height: 12px;
}
.in-tl{
    position: relative;
    float: right;
    bottom: 0;
    right: 10px;
    width: 260px;
}
.gj-song-card.colab {height: 90px;}
.colab > .gj-song-cover {
    width: 85px;
    height: 85px;
}
.colab > .gj-song-desc, .colab .gj-song-story {width: calc(100% - 85px);}
.colab h1.gj-song-title {font-size: 12px;}
.colab h5.gj-song-username {margin: 4px 0 0;font-size: 10px;}
.colab p.gj-song-contributor {height: inherit;margin: 0;}
.colab .gj-played.play-stuf { bottom: 0;top: 0;}
.colab .warp-stat-card {
    padding: 0;
    bottom: 0;
    width: 210px;
}
.colab .ico-stat a, .colab .num-stat { padding: 3px;}
.colab .gj-song-play i { font-size: 2em;}
.colab .gj-song-play {
    width: 24px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -12px;
}
.colab .gj-song-btn {
    width: 96px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 2px;
    margin-left: -48px;
}
.title-evt {
    padding: 4px 5px 10px;
    text-align: center;
    background-color: #3498db;
}
.title-evt h4 {
    margin: 0;
    color: #fff;
    font-size: 16px;
}
.tb-img.evt-wall {width: 100%;}
.warp-entry-com.evt-wall {
    display: table;
    padding: 10px 0;
}
.evt-wall .tb-caption p {white-space: normal;}
.name-list-friend.text-center {padding: 2px;color: #dcdcdc;}
.l-hr{height: 1px; background-color: #b4e0fe; margin-bottom:15px;}
.menu-post-wall ul.dropdown-menu {min-width: 10px;}
ul.menu-post-wall li.submenu-music {
    float: left;
    margin: 0px;
    width:100%;
}
ul.menu-post-wall li.submenu-music a{width:100%;}
.hover-select {
    display: none;
    background-color: rgba(34,167,240,0.3);
    width: 100%;
    position: absolute;
    height: 93px;
    z-index: 10;
}
.selected {
    display: block;
    background-color: transparent;
    width: 100%;
    position: absolute;
    height: 93px;
    z-index: 10;
}
li.warp-post-song:hover .hover-select {display:block;}
.warp-list-song-post {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.warp-list-song-post ul {
    min-height: 230px;
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.warp-list-song-post li {
    position: relative;
    float: left;
    width: 100%;
}
.warp-selected-song-post {
    position: relative;
    float: left;
    width: 100%;
}
.comment-in-comment {
    margin-left: 20px;
    border-left: 2px solid #dcdcdc;
    width: calc(100% - 20px);
    float: left;
    position: relative;
}
.warp-sub-comment {
    float: left;
    width: 100%;
    position: relative;
}
.btn-expand-comment {
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
}
.gj-btn-play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    text-align: center;
}
.ballon-notif {
    position: absolute;
    top: 105%;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.caret-notif-up{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -10px;
    right: 35px;
}
.ballon-notif i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #a9aaab;
    font-weight: normal;
}
.bg-song-l {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*=========================================================================================================================================
=============================================                  LOADER                 ====================================================
=========================================================================================================================================*/
    .warp-c-go {
        position: relative;
        top: 50%;
        /* left: 50%; */
        /* width: 180px; */
        /* height: 180px; */
        /* margin-top: -90px; */
        /* margin-left: -90px; */
    }
    .logo-loader {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 48px;
        font-family: BEBAS;
    }
    .go-loader {
        width: 180px;
        height: 180px;
        display: inline-block;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        /* float: left; */
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -90px;
        margin-left: -90px;
    }
    .logo-loader img{width:72px;}
    
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color:rgba(255,255,255,0.9);
        background-image:url(../img/grid.png);
    }
    #loader-block {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #22a7f0;
    
        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader-block:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #197cb2;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader-block:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #06244a;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }


/*=========================================================================================================================================
=============================================                  GROUP DSB               ====================================================
=========================================================================================================================================*/
div#createGroup.modal .modal-sm {width: 480px;}
.warp-15{padding:15px;}
.warp-15:before, .warp-15:after{display:table; content:" ";}
.warp-15:after{clear:both;}
.warp-btn-friend-list button {margin-bottom: 5px; margin-right:5px;}
/*.warp-btn-friend-list button:last-child {margin: 0;}*/
/*=========================================================================================================================================
=============================================                  404 PAGE                ====================================================
=========================================================================================================================================*/
.warp-404 {display: inline-block;}
.h {
    font-size: 130px;
    text-shadow: 0 1px 0 #d9d9d9, 0 2px 0 #d0d0d0, 0 5px 10px rgba(0,0,0,0.125), 0 10px 20px rgba(0,0,0,0.2);
}
.warp-b-h {display: inline-block;}
div.warp-b-h a.b-h i.fa-home {
    margin-right: 15px;
    padding:5px 0px;
    float:left;
}
.b-h{
    display: block;
    padding: 20px;
    font-size: 21px;
    border-radius: 40px;
    margin: 10px;
    color: #eee;
}
.b-h:hover{
    text-decoration: none;
    background-color: #aaa;
}
/*==================================================================================================================================================
=================================================== ALL ABAOUT PRJECT ==================================================================
/*================================================================================================================================================*/
.sec-project{
    margin-bottom:20px;
    clear:both;
}
.sec-project:before, .sec-project:after{
    content:" ";
    display:table;
}
.sec-project:after{clear:both;}
/*===============================================================================================================================================================
========================== QUERY MD DESKTOP ===========================================================
=====================================================================================*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
}
/*===============================================================================================================================================================
========================== QUERY SM TABLET ===========================================================
=====================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 991px){
}
/*===============================================================================================================================================================
========================== QUERY XS PHONE ===========================================================
=====================================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px){
    div#createGroup.modal .modal-dialog {width: 480px;}
}
/*===============================================================================================================================================================
========================== QUERY XXS PHONE ===========================================================
=====================================================================================*/
@media only screen and  (max-width: 479px){
}